{% load static %}
<html>
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        {% include 'nav.html' %}
        <div class="container" style="direction:ltr;padding-top: 8rem;">
            <div >
                <a href="{% url 'order' %}"><button class="btn btn-primary" >Back Page</button></a>
            </div><br/>
                
                <form action="updateorder/{{ order.id }}" method="POST" />
                    {% csrf_token %}

                    
                        <div class="form-group">
                            <label for="customer">Customer:</label>
                            <select name="customer" id="customer" class="form-control">
                                {% for c in customers %}
                                    <option {% if c.id == order.customer.id %} selected="selected" title="saeed " {% endif %} value="{{ c.id }}" >{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div><br/>


                        <div class="form-group">
                            <label for="product">Product:</label>
                            <select name="product" id="product" class="form-control">
                                {% for p in products %}
                                <option value="{{ p.id }}" {% if p.id == order.product.id %} selected="selected" {% endif %}>{{ p }}</option>
                                {% endfor %}
                            </select>
                        </div><br/>

                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Quantity" value="{{ order.quantity }}" />
                        </div><br/>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success"><span>Update Order</span></button>
                    </div>
                    
                </form>
        </div>
    </body>
</html>