{% load static %}
<html>
    <head>
        {% include 'header.html' %}
    </head>

    <body>
        {% include 'nav.html' %}

        <div class="container" style="direction:rtl;">
            <form method="POST" action="/add_inquery/{{ products.slug }}/" enctype="multipart/form-data" style="padding-top: 135px;">

                {% csrf_token %}

                <div class="form-group">
                    <label for="product">محصول</label>
                    <select class="form-control" id="product" name="product">
                        <option {% if products.slug == contact.product.slug %} selected="selected" {% endif %} value="{{ products.id }}" >{{ products }}</option>
                    </select>
                </div><br/>

                <div class="form-group">
                    <label for="companyname">نام شرکت / نام ارگان / نام سازمان</label>
                    <span class="gfield_required">*</span>
                    <input type="text" name="company_name" id="companyname" class="form-control" placeholder="نام شرکت خود را در این قسمت وارد کنید"/>
                </div><br/>

                <div class="form-group">
                    <label for="firstname">نام مسئول</label>
                    <span class="gfield_required">*</span>
                    <input type="text" name="first_name" id="firstname" class="form-control" placeholder="نام خود را در این قسمت وارد کنید"/>
                </div><br/>

                <div class="form-group">
                    <label for="lastname">نام خانوادگی مسئول</label>
                    <span class="gfield_required">*</span>
                    <input type="text" name="last_name" id="lastname" class="form-control" placeholder="نام خانوادگی خود را در این قسمت وارد کنید"/>
                </div><br/>

                <div class="form-group">
                    <label for="email">ایمیل</label>
                    <span class="gfield_required">*</span>
                    <input type="email" name="email" id="email" class="form-control" style="text-align: end;" placeholder="ایمیل خود را وارد کنید"/>
                </div><br/>

                <div class="form-group">
                    <label for="phone">تلفن</label>
                    <span class="gfield_required">*</span>
                    <input type="tel" name="phone" id="email" class="form-control" style="text-align: end; " placeholder="تلفن خود را وارد کنید"/>
                </div><br/>

                <div class="form-group">
                    <label for="quantity">تعداد کامپیوتر های سازمان</label>
                    <span class="gfield_required">*</span>
                    <input type="number" name="quantity" id="quantity" class="form-control"/>
                </div><br/>

                <div class="form-group">
                    <label for="description">توضیحات</label>
                    <input type="text" name="description" id="description" class="form-control" placeholder="اگر توضیحاتی در مورد استعلام آنتی ویروس سازمانی دارید می توانید در این قسمت وارد نمایید."/>
                </div><br/>



                {% comment %} <div class="form-group">
                    <label for="image">Upload Image:</label>
                    <input class="form-control" name="image" type="file" id="image"/>
                </div><br/> {% endcomment %}

                <div class="button-box">
                    <button class="btn btn-success" type="submit"><span>ارسال</span></button>
                </div>

            </form>
        </div>
    </body>
</html>