{% load static %}
<html>
    
    <head>
        {% include 'header.html' %}
    </head>

    <body onload="initialize()">
        {% include 'nav.html' %}

        <div id="contact-us" class="container" style="direction:rtl;">


            <div class="row" style="padding-top: 140px">
                <div class="col-lg-12 col-md-12 head">
                    <h1>مهرسامان</h1>
                    <h3>شماره تماس شرکت: 88840504-021 (10 خط)</h3>
                    <h6>“در کنارتان هستیم”</h6>
                    <p>مهرسامان همواره در تلاش است تا خدمات ارزنده‌ای را به شما مشتریان عزیز ارائه دهد و در این راستا نیز موفق بوده است. عقیده ما بر این است که امنیت کاربران در فضای مجازی بسیار مهم و حیاتی بوده و در دنیای امروزی باید بیش از پیش از آن محافظت کرد، اگر شما نیز با ما هم عقیده هستید میتوانید آنتی ویروس مورد نیاز خود را از ما دریافت نمایید.</p>
                </div>
                <div class="col-lg-12 col-md-12" style="line-height: 20px;">
                    <form id="contact-form" class="contact-form form" method="POST" action="/insert_contact_us/" enctype="multipart/form-data" style="padding-top: 135px;">

                        {% csrf_token %}

                        <div class="row">

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="نام مسئول"/>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" style="text-align: end;" placeholder="ایمیل "/>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="tel" name="phone" class="form-control" style="text-align: end; " placeholder="تلفن "/>
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="description" class="form-control" cols="35" row="8" style="resize: none;height: 120px;" placeholder="توضیحات"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <button class="send-btn" type="submit">ارسال</button>
                                    <span style="top: 61.7188px; left: 9px;"></span>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                
            </div>
            
        </div>
        <div class="container-fluid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d366.485692051153!2d51.42239975551727!3d35.70303197851263!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d35.7031439!2d51.4222861!5e1!3m2!1sen!2sus!4v1662290191137!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>{% include 'footer.html' %}</div>
    </body>
</html>