{% extends "master.html" %}
{% load static %}

{% block maincontent %}

<!-- END: header -->
<section class="probootstrap-slider flexslider">
  <ul class="slides">

    <li style="background-image: url({{page.page_file.url}})">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text probootstrap-animate">
              <h2 style="color: #464646">
                {%if page.id == 3 %} Abouts us {%endif%}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>
</section>
<!-- END: slider  -->

<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading probootstrap-animate">
        <h2>{{ page.title }}</h2>
      </div>
    </div>
    <div class="row">
      <p>
          {{ page.body|safe }}
      </p>
    </div>
  </div>
</section>


{% endblock %}
