{% load static %}

<section id="home-slider">
  <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.css' %}">

  <div class="swiper-container">
		<div class="swiper-wrapper" id="gallery_wrapper">
		  <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 start-text animated animatedFadeInUp fadeInUp">
              <h1> مهر سامان </h1>
              <h4> ارائه دهنده <a style="color:0180FF;">راهکارهای امنیتی</a> </h4>
              <h3 class="mt-3"> دوری از تهدیدات،  رویارویی با خطرات</h3>
              <div class="right">
                
                <div class="row" style="padding-top: 55px;">
                  <div>
                    <a type="button" href="#services" class="btn btn-info">خدمات</a>
                    <a type="button" href="#software" class="btn btn-info">نرم افزار ها</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12">
              <div class="start-img">
                <img class="fade-in-text" src="{%  static 'img/fingerprint.png' %}" alt="fingerprint">
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="swiper-slide home-banner-s2"></div>
      <div class="swiper-slide home-banner-s3"></div>
		</div> 
		<div class="swiper-button-next"></div>  
		<div class="swiper-button-prev"></div>  
		<div class="swiper-pagination"></div> 
    
	</div>
</section>


{% comment %} <div class="section-xxl home-content ">
  <div class="right animated animatedFadeInUp fadeInUp">
    <h1> مهر سامان </h1>
    <h4> ارائه دهنده <a>راهکارهای امنیتی</a> </h4>
    <h3> دوری از تهدیدات،  رویارویی با خطرات</h3>
    <div class="row" style="padding-top: 55px;">
      <div>
        <a type="button" href="#services" class="btn btn-info">خدمات</a>
        <a type="button" href="#software" class="btn btn-info">نرم افزار ها</a>
      </div>
    </div>
  </div>
  <div id="parallax" class="items left">
    <div class="items__inner" id="js-scene">
      <div class="items__layer layer" data-depth="0.85">
        <div>
          <img class="fade-in-text" src="{%  static 'img/fingerprint.png' %}" alt="fingerprint">
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

  <style>
    {% comment %} .navbar { 
        background-color: rgba(51, 51, 51, 0);
        color: #000;
    } {% endcomment %}

    .navbar, .navbar:hover {
      background-color: rgba(51, 51, 51, 85%);
      color: #fff;
    }

    {% comment %} .navbar-brand{
      background-image: url({%  static '/img/logo-black.png' %});
  } {% endcomment %}
  

    {% comment %} .navbar a{
      color: #000000;
      }
    html {
      scroll-behavior: smooth;
      } {% endcomment %}
       
</style>

<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/swiper.js' %}"></script>


<script>
  var scene = document.getElementById('js-scene');
  var parallax = new Parallax(scene);
</script>
<script>
  $( document ).ready(function() {

    $(window).scroll(function(){
      var scroll = $(window).scrollTop();

      if (scroll > 100) {
        $(".navbar").addClass("bgg-white");
      }else{
        $(".navbar").removeClass("bgg-white");
      }
    })
  })
</script>
<script>
  var mySwiper = new Swiper ('.swiper-container', 
	{
    speed:2000,
		direction: 'horizontal',
		navigation: 
		{
		  nextEl: '.swiper-button-next',
		  prevEl: '.swiper-button-prev',
		},
		pagination: 
		{
			el: '.swiper-pagination',
			dynamicBullets: true,
		},
		zoom: true,
		keyboard: 
		{
			enabled: true,
			onlyInViewport: false,
		},
    autoplay: 
    {
      delay: 4000,
    },
    loop: true,
	}); 
</script>