<!DOCTYPE>
<html>
    <head>{% include 'header.html' %}</head>
    <body>
        {% include 'nav.html' %}

        
        <div class="container" style="padding-top:8rem;direction:ltr;">
            <div >
                <a href="{% url 'productlist' %}"><button class="btn btn-primary" >Back Page</button></a>
            </div><br/>
            
            <form action="/products/update/updateproduct/{{ prod.id }}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="list-group">

                    <div class="form-group">
                        
                            <label for="category">Category:</label>
                        
                        <select class="form-control" name="selected_cat" id="category">
                            {% for c in cat %}
                                <option {% if c.id == prod.category.id %} selected="selected" {% endif %} value="{{ c.id }}" >{{ c.title }}</option>
                            {% endfor %}
                        </select>
                    </div><br/>

                    <div class="form-group">
                            <label for="name">Name:</label>
                        <input id="name" type="text" name="name" value="{{ prod.name }}" class="form-control"/>
                    </div><br/>

                    <div class="form-group">
                        <label for="info">Info:</label>
                    <input id="info" type="text" name="info" value="{{ prod.info }}" class="form-control"/>
                </div><br/>

                    <div class="form-group">
                        <label for="image">Image:</label>
                        <img src="{{ prod.image.url }}" style="width:65px;"/>
                        <input id="image" name="image" type="file" value="{{ prod.image }}" class="form-control"/>
                    </div><br/>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success" ><span>Update Product</span></button>
                    </div>
                    
                </ul><br/>
            </form>
        </div>
    </body>
</html>