{% load static %}

<!DOCTYPE html>
<html>
    <head>{% include 'header.html' %}</head>
    <body>
        {% include 'nav.html' %}
        <section class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>درباره ما</h2>
                            <ul>
                                <li><a href="{% url 'homepage' %}">خانه</a></li>
                                <li class="about-li">درباره ما</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="about-area section-padding">
            <div id="fadeinanimation" class="container">
                <div class="row align-items-center d-flex">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="about-content">
                            <div class="about-content-text reveal fade-right">
                                <h6>درباه شرکت ما</h6>
                                <h2>ارائه راهکارهای امنیتی .</h2>
                                <p>شرکت مهرسامان در سال ۱۳۸۱ فعالیت خود را آغاز نموده است. هدف شرکت پایداری و گسترش امنیت اطلاعات با استفاده از نرم افزار های اورجینال بوده و درطی سال های گذشته این شرکت نمایندگی رسمی شرکت های babylon, autodesk ,Symantec ,Microsoft Bitdefender ,Eset ,Kaspersky را بدست آورده است. و ضمن دارا بودن دانش فنی جهت مشاوره و پشتیبانی محصولات فوق، آن ها را گارانتی نموده است.</p>
                                
                                <div class="about-btn-box"> 
                                    <a class="default-btn project-btn-1" href={% url 'contact_us' %}>تماس با ما<span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12">
                        <div class="about-image reveal fade-left">
                            <img src="{% static '/img/about.jpg' %}" alt="About image">
                            <div class="years-design">
                                <h2>20</h2>
                                <h5>سال سابقه</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about-us">
            {% comment %} {{ product.extras.all.0.desc|safe }} {% endcomment %}

            <div id="fadeinanimation" class="container ">
                <div class="row" style="text-align: center;padding-bottom: 58px;">
                    <h1>لیست برخی از خدمات شرکت</h1><br/>
                </div>
                <div class="row row-50 row-lg-60 row-xl-90 justify-content-center reveal fade-bottom">
                    <div class="col-lg-4 col-sm-6">
                      <div class="box-classic">
                        <div class="box-classic-icon-about icon-about icon-lg mdi mdi-newspaper fa-solid fa-people-line"></div>
                        <p class="box-classic-text">ارائه خدمات به ده ها ارگان و سازمان دولتی</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="box-classic">
                        <div class="box-classic-icon-about icon-about icon-lg mdi mdi-rotate-left fa-solid fa-people-line"></div>
                        <p class="box-classic-text">ارائه خدمات به بیش از ۲۰۰ شرکت خصوصی</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="box-classic">
                        <div class="box-classic-icon-about icon-about icon-lg mdi mdi-border-vertical fa-solid fa-people-line"></div>
                        <p class="box-classic-text">ا بیش از ۱۰۰ هزار مشترک محصولات خانگی</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="box-classic">
                        <div class="box-classic-icon-about icon-about icon-lg mdi mdi-code-tags fa-solid fa-people-line"></div>
                        <p class="box-classic-text">تحت نظارت وزارت فرهنگ و ارشاد اسلامی</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="box-classic">
                        <div class="box-classic-icon-about icon-about icon-md mdi mdi-tablet-ipad fa-solid fa-people-line"></div>
                        <p class="box-classic-text">تضمین اصل بود خدمات خریداری شده</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="box-classic">
                        <div class="box-classic-icon-about icon-about icon-lg mdi mdi-message-outline fa-solid fa-people-line"></div>
                        <p class="box-classic-text">ارائه بهترین خدمات پشتیبانی در کشور</p>
                      </div>
                    </div>
                  </div>
            </div>
            
        </section>
        <div>{% include 'footer.html' %}</div>
        
    </body>
    
</html>
<script>
    function reveal() {
      var reveals = document.querySelectorAll(".reveal");
    
      for (var i = 0; i < reveals.length; i++) {
        var windowHeight = window.innerHeight;
        var elementTop = reveals[i].getBoundingClientRect().top;
        var elementVisible = 150;
    
        if (elementTop < windowHeight - elementVisible) {
          reveals[i].classList.add("active");
        } else {
          reveals[i].classList.remove("active");
        }
      }
    }
    
    window.addEventListener("scroll", reveal);
</script>
