{% load static %}
<html>
    <head>
        {% include 'header.html' %}
    </head>

    <body>
        {% include 'nav.html' %}

        <div class="container" style="direction:ltr;">
            
            <div class="row" style="padding-top:8rem;" >
                
                <a href="{% url 'productlist' %}"><button class="btn btn-primary" >Back Page</button></a>
                <h1 style="text-align: center;">Add New Product</h1>
            </div>


            <form method="POST" action="{% url 'add_product' %} " enctype="multipart/form-data" style="padding-top: 4rem;">
                {% csrf_token %}

                <div class="form-group">
                    <label for="category">Category:</label>
                    <select class="form-control" id="category" name="category">
                        <option></option>
                        {% for c in categories %}
                            <option value="{{ c.id }}" >{{ c }}</option>
                        {% endfor %}
                    </select>
                </div><br/>

                <div class="form-group">
                    <label for="productname">Product Name:</label>
                    <input type="text" name="name" id="productname" class="form-control" placeholder="type name"/>
                </div><br/>

                <div class="form-group">
                    <label for="image">Upload Image:</label>
                    <input class="form-control" name="image" type="file" id="image"/>
                </div><br/>

                <div class="button-box">
                    <button class="btn btn-success" type="submit"><span>Enter To Add</span></button>
                </div>

            </form>
        </div>
    </body>
</html>