<!DOCTYPE>
<html>
    <head>{% include 'header.html' %}</head>
    <body>
        {% include 'nav.html' %}

        
        <div class="container" style="padding-top:8rem;direction:ltr;">
            <div class="form-group">
                <button class="btn btn-success" onclick="location.href='{% url 'add_customer' %}'">Add New Customer</button>
            </div><br/>
            
            {% if customers %}
            {% for ctm in customers %}
            <ul class="list-group">
                <li class="list-group-item active">Cutomer ID :{{ ctm.id }}
                    <a href="delete/{{ ctm.id }}"><button class="btn btn-danger" style="float:right;">Delete</button></a>
                    <a href="update/{{ ctm.id }}"><button class="btn btn-success" style="float:right;">Edit</button></a>

                </li>
                <li class="list-group-item">Name:   {{ ctm.name }}</li>
                <li class="list-group-item"> Date_Joiend:  {{ ctm.date_joined }}</li>
                
            </ul><br/>
            {% endfor %}
            {% endif %}
        </div>
    </body>
</html>