{% load static %}
<html lang="fa" dir="rtl">
    <head>
        <title>مهر سامان</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.rtl.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
        
        
        
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

        
        {% comment %} <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> {% endcomment %}
        {% comment %} <link rel="stylesheet" href="{% static 'bootstrap/css/carousel.rtl.css' %}"> {% endcomment %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/eset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/kasper.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/symantec.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/microsoft.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}">

    </head>
        


