{% load static %}
<html lang="fa" dir="rtl">
    <head>
        <title>مهر سامان</title>
        <link rel="icon" href="{{ g_configs.icon_32.image.url }}" sizes="32x32">
        <link rel="icon" href="{{ g_configs.icon_192.image.url }}" sizes="192x192">
        <link rel="apple-touch-icon" href="{{ g_configs.icon_apple.image.url }}">
        <meta name="msapplication-TileImage" content="{{ g_configs.icon_msapp.image.url }}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.rtl.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
        
        {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/> {% endcomment %}
        
        
        
        <script src="{% static 'js/jquery.min.js' %}"></script>
        
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/waypoints.min.js' %}"></script>

        

        {% comment %} <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script> {% endcomment %}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
        

        
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/eset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/kasper.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/symantec.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/microsoft.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}">

    </head>
        


