{% load static %}



<html>
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        {% include 'nav.html' %}

        <div class="container">
            <div class="row">
                <form action="{% url 'login' %}" method="POST" style="display: inline-grid;
                padding-top: 10rem;
                text-align: center;">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <div class="button-box">
                        <button type="submit"><span>Login</span></button>
                    </div>
                    
                </form>
            </div>
        </div>
    </body>
</html>