{% load static %}
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        
          
        <a class="navbar-brand">
          <img src="{% static 'img/logo-white.png' %}"  class="d-inline-block align-text-top">
        </a>
          
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage' %}"> صفحه اول </a>
            </li>

            <li class="nav-item">
              <a class="nav-link bef" aria-current="page" href="#">خدمات امنیتی </a>
              <div class="menu-tabs">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left sideways a">
                    {% for service in g_services %}
                      <li class="{% if forloop.first %}active{%endif%}">
                        <a href="#sec-{{service.id}}" data-toggle="tab">{{service.title}}</a>
                      </li>
                    {% endfor %}
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  {% for service in g_services %}
                    <div class="tab-pane justi {% if forloop.first %}active{% endif %}" id="sec-{{service.id}}">
                      
                      <a href="/service/{{ service.id }}/">
                        <img src="{{service.image.url}}" alt="{{service.title}}" />
                      </a>

                    </div>
                  {% endfor %}
                </div>
              </div>
            </li>





            <li class="nav-item">
              <a class="nav-link bef" aria-current="page" href="#">محصولات سازمانی</a>
              <div class="menu-tabs">
              
                <ul class="nav nav-tabs tabs-left sideways a">
                  {% for cat in g_categories %}
                    <li class="{% if forloop.first %}active{% endif %}">
                      <a href="#bus-{{ cat.id }}" data-toggle="tab">{{ cat.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  {% for cat in g_categories %}
                  
                    <div class="tab-pane {% if forloop.first %}active{% endif%}" id="bus-{{ cat.id }}">
                      <div class="row justi">
                        <div class="col-md-4 pici">
                          
                          {% for child in cat.collection_set.all %}
                            {% if child.collection_type_id == 4%}
                              {% for product in g_products %}
                                {% if product.collections.first.id == child.id%}
                                <a href="/product/{{product.slug}}/">
                                  <img src="{{ product.images.first.image.url }}" alt="{{ cat.title }}"/>
                                </a>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}

                        </div>
                      </div>
                      
                      {% for child in cat.collection_set.all %}
                        {% if child.collection_type_id == 4%}
                            <div class="row" style="justify-content: center;">
                              <a href="/products/{{child.id}}/" class="btn btn-secondary eset-list-btn">لیست محصولات</a>
                            </div>  
                        {% endif %}
                      {% endfor %}
                      
                      
                    </div>
                  {% endfor %}

                </div>
              </div>
            </li>

            
            <li class="nav-item">
              <a class="nav-link bef" href="#">محصولات خانگی </a>
              <div class="menu-tabs">

                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left sideways a">
                  {% for cat in g_categories %}
                    <li class="{% if forloop.first %}active{% endif %}">
                      <a href="#home-{{ cat.id }}" data-toggle="tab">{{ cat.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
                
                <!-- Tab panes -->
                <div class="tab-content">
                  {% for cat in g_categories %}
                  
                    <div class="tab-pane {% if forloop.first %}active{% endif%}" id="home-{{ cat.id }}">
                      <div class="row justi">
                        <div class="col-md-4 pici">
                          
                          {% for child in cat.collection_set.all %}
                            {% if child.collection_type_id == 3%}
                              {% comment %} {{child.title}} - {{child.id}} {% endcomment %}
                              {% comment %} <hr /> {% endcomment %}
                              {% for product in g_products %}
                                {% if product.collections.first.id == child.id%}
                                {% comment %} {{product.title}} - {{product.collections.first.id}} {% endcomment %}
                                <a href="/product/{{product.slug}}/">
                                  <img src="{{ product.images.first.image.url }}" alt="{{ cat.title }}"/>
                                </a>
                                {%endif%}
                              {% endfor %}
                            {%endif%}
                          {% endfor %}

                        </div>
                      </div>
                      {% for child in cat.collection_set.all %}
                        {% if child.collection_type_id == 3%}
                            <div class="row" style="justify-content: center;">
                              <a href="/products/{{child.id}}/" class="btn btn-secondary eset-list-btn">لیست محصولات</a>
                            </div>  
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endfor %}

                </div>
              </div>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">درباره ما </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">تماس با ما </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'customerlist' %}">مشتری</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'order' %}">سفارش ها</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'productlist' %}">محصولات</a>
            </li> {% endcomment %}
            
          </ul>
        </div>
      </div>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>



    <script>
        $( document ).ready(function() {
            $('.nav-tabs > li > a').hover(function() {
                $(this).tab('show');
            });
        });

        $(document).ready(function(){
          $(window).scroll(function(){
            var scroll = $(window).scrollTop();

            if (scroll > 100) {
              $(".navbar").addClass("bgg-white");
            }else{
              $(".navbar").removeClass("bgg-white");
            }
          })
        })
    </script>