{% load static %}
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        
          
        <a class="navbar-brand">
          <!-- <img src="{% static 'img/logo-white.png' %}"  class="d-inline-block align-text-top"> -->
        </a>
          
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage' %}"> صفحه اول </a>
            </li>

            <li class="nav-item srvs">
              <a class="nav-link bef" aria-current="page" href="#">خدمات امنیتی </a>
              <div class="menu-tabs">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left sideways a">
                    {% for service in g_services %}
                      <li class="{% if forloop.first %}active{%endif%}">
                        <a href="/service/{{service.slug}}">{{service.title}}</a>
                      </li>
                    {% endfor %}
                </ul>
              </div>
            </li>


            <li class="nav-item business">
              <a class="nav-link bef" aria-current="page" href="#">محصولات سازمانی</a>
              <div class="menu-tabs">
              
                <ul class="nav nav-tabs tabs-left sideways a">
                  {% for cat in g_categories %}
                    <li class="{% if forloop.first %}active{% endif %}">
                      <a href="#business-{{ cat.slug }}" data-toggle="tab">{{ cat.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  {% for cat in g_categories %}
                  
                    <div class="tab-pane {% if forloop.first %}active{% endif%}" id="business-{{ cat.slug }}">
                      <div class="row justi">
                        {% comment %} <div class="col-md-4 pici"> {% endcomment %}
                          <div class="col-sm-4">
                            {% for child in cat.collection_set.all %}
                            {% if child.collection_type_id == 4%}
                              {% for product in g_products %}
                                {% if product.collections.first.id == child.id%}
                                  <div class="row item_product">
                                    <a href="/product/{{product.slug}}/">
                                      <img src="{{ product.images.first.image.url }}" alt="{{ cat.title }}"/>
                                      <p>{{ product.title }}</p>
                                    </a>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                          </div>
                        {% comment %} </div> {% endcomment %}
                      </div>
                      
                      {% for child in cat.collection_set.all %}
                        {% if child.collection_type_id == 4%}
                            <div class="row" style="justify-content: center;">
                              <a href="/products/{{child.slug}}/" class="btn btn-secondary eset-list-btn">لیست محصولات</a>
                            </div>  
                        {% endif %}
                      {% endfor %}
                      
                    </div>
                  {% endfor %}

                </div>
              </div>
            </li>

            
            <li class="nav-item home">
              <a class="nav-link bef" href="#">محصولات خانگی </a>
              <div class="menu-tabs">

                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left sideways a">
                  {% for cat in g_categories %}
                    <li class="{% if forloop.first %}active{% endif %}">
                      <a href="#home-{{ cat.slug }}" data-toggle="tab">{{ cat.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
                
                <!-- Tab panes -->
                <div class="tab-content">
                  {% for cat in g_categories %}
                  
                    <div class="tab-pane {% if forloop.first %}active{% endif%}" id="home-{{ cat.slug }}">
                      <div class="row justi">
                        {% comment %} <div class="col-md-4 pici"> {% endcomment %}
                          <div class="col-sm-4">
                            {% for child in cat.collection_set.all %}
                            {% if child.collection_type_id == 3%}
                              {% for product in g_products %}
                                {% if product.collections.first.id == child.id%}
                                  <div class="row item_product">
                                    <a href="/product/{{product.slug}}/">
                                      <img src="{{ product.images.first.image.url }}" alt="{{ cat.title }}"/>
                                      <p>{{ product.title }}</p>
                                    </a>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                          </div>

                        {% comment %} </div> {% endcomment %}
                      </div>
                      {% for child in cat.collection_set.all %}
                        {% if child.collection_type_id == 3%}
                            <div class="row" style="justify-content: center;">
                              <a href="/products/{{child.slug}}" class="btn btn-secondary eset-list-btn">لیست محصولات</a>
                            </div>  
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endfor %}

                </div>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>



    <script>
        $( document ).ready(function() {
            $('.nav-tabs > li > a').hover(function() {
                $(this).tab('show');
            });
        });

        $(document).ready(function(){
          $(window).scroll(function(){
            var scroll = $(window).scrollTop();

            if (scroll > 100) {
              $(".navbar").addClass("bgg-white");
            }else{
              $(".navbar").removeClass("bgg-white");
            }
          })
        })
    </script>