<!DOCTYPE>
<html>
    <head>{% include 'header.html' %}</head>
    <body>
        {% include 'nav.html' %}

        
        <div class="container" style="padding-top:8rem;direction:ltr;">
            <div class="form-group">
                <button class="btn btn-primary" onclick="location.href='{% url 'add_product' %}'">Add Product</button>
            </div><br/>
            {% if products %}
            {% for prod in products %}
            
                <ul class="list-group">
                    <li class="list-group-item active">
                        {% if prod.image %}
                        <img src="{{ prod.image.url }}" style="width:65px;"/>
                        {% endif %}
                        <div style="float:right;">
                            {% comment %} <a href="update/{{ prod.id }}"><button class="btn btn-success">Edit</button></a> {% endcomment %}
                            <a href="delete/{{ prod.id }}"><button class="btn btn-danger">delete</button></a>
                        </div>
                    </li>
                    <li class="list-group-item"> Name:{{ prod.name }}</li>
                    <li class="list-group-item">Category:{{ prod.category }}</li>
                    <br/>

                </ul>

            {% endfor %}
            {% endif %}
        </div>
    </body>
</html>