{% load static %}

<!DOCTYPE html>
<html>
    <head>{% include 'header.html' %}</head>
    <body>
        {% include 'nav.html' %}
        <section class="section bg-home-ser half-home">
            <div class="home-center-service pad-ser">
                <div class="bg-back"><img src="{{ service.image_top.url }}"/></div>
                <div class="home-desc-center">
                </div>
            </div>
        </section>
        {% comment %} <div class="containerr section-1">
            Welcome to this test!
        </div> {% endcomment %}
        <section>
            <div class="container">
                <div class="padding service-send-btn">
                    <h2>{{service.title}}</h2>
                    <a class="send-btn" href="/add_inquery/{{ service.slug }}">استعلام سرویس</a>
                </div>
                <div class="container text-kh">
                    <div class="row service-text">
                        {{service.body|safe}}
                    </div>
                </div>
                
            </div>
        </section>
        <div>{% include 'footer.html' %}</div>
        <style>
            body{
                background: #f6f6f6;
            }
        </style>
    </body>
    
</html>
<script>
    var velocity = 0.5;

    function update(){ 
    var pos = $(window).scrollTop(); 
    $('.network-banner').each(function() { 
        var $element = $(this);
        // subtract some from the height b/c of the padding
        var height = $element.height()-18;
        $(this).css('backgroundPosition', '60% ' + Math.round((height - pos) * velocity) + 'px'); 
    }); 
    };

    $(window).bind('scroll', update);
</script>
