{% load static %}
<div class="container" style="padding:0px;max-width: 1401px;">
  <div class="row" style="padding:0;">
    <div class="container" style="height:550px;">
        <div class="row">
            <div class="col-md-9">
              <img src="https://content.kaspersky-labs.com/se/com/content/en-global/images/baseline/masthead-home/home/home-v2.png"/>
            </div>
                <div class="col-md-3 hide">
                    <div class="row">
                        {% if products %}
                        {% for pro in products %}
                            <div class="col-md-4">
                                <div class="card" style="width: 10rem;">
                                    <div class="card-body">
                                        <img src="{{ pro.image.url }}" />
                                        <h5 class="card-title">{{ pro.name }}</h5>
                                        
                                        <a href="/detail/{{ pro.id }}/" class="card-link">اطلاعات بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}            
                      </div>
                </div>
            </div>
            

        
    </div>
  </div>
</div>
