{% load static %}
<div class="container" style="padding:0px;max-width: 1401px;">
  <div class="row" style="padding:0;">
    <div class="carousel-inner">

      <div class="container">
        <img class="img" style="background-color: #00838f"/>

        <div class="row eset">
          <div class="col-md-9">
            <h1>لیست محصولات امنیت سایبری ESET</h1>
          </div>
          <div class="col-md-3 hide">
            <img style="width: 261px;border-radius: 55px;" src="{% static 'img/esetlogo2.png' %}"/>
          </div>
        </div>
        <div class="row eset-product">
          {% if products %}
          {% for pro in products %}
          <div class="col-md-4">
              <div class="card cus-card" style="width: 13rem;">
                  <div class="card-body">
                      <img src="{{ pro.image.url }}" />
                      <h5 class="card-title">{{ pro.name }}</h5>
                      
                      <a href="#" class="card-link">{{ pro.id }}</a>
                  </div>
              </div>
          </div>
          {% endfor %}
          {% endif %}            
      </div>
      </div>
    </div>
  </div>
</div>
