{% load static %}
<html>
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <div class="row">
                
                <form action="updateorder/{{ order.id }}" method="POST" style="padding-top: 10rem;"/>
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="customer">customer </label>
                            <select name="customer" id="customer" class="form-control">
                                {% for c in customers %}
                                    <option {% if c.id == order.customer.id %} selected="selected" title="saeed " {% endif %} value="{{ c.id }}" >{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="product">product</label>
                            <select name="product" id="product" class="form-control">
                                {% for p in products %}
                                <option value="{{ p.id }}" {% if p.id == order.product.id %} selected="selected" {% endif %}>{{ p }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="quantity">quantity</label>
                            <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Quantity" value="{{ order.quantity }}" />
                        </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success"><span>Update Order</span></button>
                    </div>
                    
                </form>
            </div>
        </div>
    </body>
</html>