<!DOCTYPE>
<html>
    <head>{% include 'header.html' %}</head>
    <body>
        {% include 'nav.html' %}

        
        <div class="container" style="padding-top:8rem;direction:ltr;">
            <div >
                <a href="{% url 'category_list' %}"><button class="btn btn-primary" >Back Page</button></a>
            </div><br/>
            <form action="updatecategory/{{ category.id }}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <ul class="list-group">
                    <li class="list-group-item active">Category Name :</li>
                    <li class="list-group-item">
                        <input type="text" name="title" class="form-group" id="" value="{{ category.title }}" />
                        <br/>
                        <img src="{{ category.cat_image.url }}"/><br/>
                        <input type="file" name="cat_image" class="form-group" id="" value="{{ category.cat_image }}" />

                        
                        <button type="submit" class="btn btn-success" style="float:right;"><span>Update Category</span></button>
                    </li>
                    
                </ul><br/>
            </form>
        </div>
    </body>
</html>