{% load static %}
<!DOCTYPE html>
<html>
    <head>{% include 'header.html' %}</head>
    <body style="background-color:#ffffff;">
        {% include "nav.html" %}
        <section class="section half-home-kasper" style="direction: rtl;">
            <div class="top-banner"></div>
            <div class="home-center-kasper row" >
                
              <div class="home-desc-center" >
                <div class="container">

                  <div class="row kasper_product_top">

                    <div class="col-lg-6 col-sd-12">
                      <div class="top-title-kasper-2 animated animatedFadeInUp fadeInUp">{{ product.title }}</div>
                      <div class="top-title-kasper-3 col-md-5 animated animatedFadeInUp fadeInUp">{{ product.description }}</div>
                    </div>
                    <div class="row">
                        <div class="top-title-kasper-2 col-md-4 d-grid gap-2">
                            {% comment %} <button href="{% url 'homepage' %}" type="button" class="btnbtn-success">خرید محصول</button> {% endcomment %}
                            <a href="#" class="btn btn-success">خرید محصول</a>
                        </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-12">
                    <img src="{{ product.images.first.image.url }}" />
                  </div>
                    
                </div>
              </div>
            </div>
        </section>


        <section style="padding-top: 50px;">
          <div class="container-fluid con-flu-col">
            <div class="row">
              <div class="col-md-4">
                  <div class="Feature_icon__3OtVF circle">
                      <img src="{% static 'img/anti-hacking.svg' %}"/>
                  </div>
                  <div class="circle-title">ضد هک</div>
                  <div class="circle-content">مسدود کننده حمله شبکه و ضد باج افزار از نفوذ هکرها به شبکه خانگی و رهگیری داده های شما جلوگیری می کند.</div>
              </div>
              <div class="col-md-4">
                  <div class="Feature_icon__3OtVF circle">
                      <img src="{% static 'img/anti-virus-kasper.svg' %}"/>
                  </div>
                  <div class="circle-title">ضد ویروس</div>
                  <div class="circle-content">آنتی ویروس بلادرنگ برای محافظت از شما در برابر تهدیدات رایج مانند کرم ها و تروجان ها تا تهدیدات پیچیده مانند بات نت ها، روت کیت ها و سرکش ها کار می کند.</div>
              </div>
              <div class="col-md-4">
                  <div class="Feature_icon__3OtVF circle">
                      <img src="{% static 'img/anti-malware-kasper.svg' %}"/>
                  </div>
                  <div class="circle-title">ضد بدافزار</div>
                  <div class="circle-content">ضد بدافزار پیشرفته تهدیدهایی از جمله جاسوس‌افزار، ابزارهای تبلیغاتی مزاحم، کیلاگرها، فیشینگ نیزه و حملات بدون فایل را که به سختی قابل تشخیص هستند، خنثی می‌کند.</div>
              </div>
            </div>
          </div>
        </section>
        <div>{% include 'footer.html' %}</div>
        
    </body>
</html>