{% load static %}
<!DOCTYPE html>
<html>
    <head>{% include 'header.html' %}</head>
    <body>
        {% include "nav.html" %}
        <section class="section half-home">
            <div class="top-banner"></div>
            <div class="home-center pro">
                <div class="i"><img src="{{ product.images.first.image.url }}" /></div>
              <div class="home-desc-center" style="direction: rtl;">
                <div class="container content-page-kasper">

                    {% comment %} <div class="row">
                        <div class="top-title-kasper-1 col-md-12">حفاظت پیشرفته در برابر انواع تهدیدات</div>
                    </div> {% endcomment %}
                    <div class="row">
                    <div class="top-title-kasper-2 col-md-12">{{ product.title }}</div>
                    </div>
                    <div class="row">
                        <div class="top-title-kasper-3 col-md-5 ">{{ product.description }}</div>
                    </div>
                    <div class="row">
                        <div class="top-title-kasper-2 col-md-4 d-grid gap-2">
                            {% comment %} <button href="{% url 'homepage' %}" type="button" class="btnbtn-success">خرید محصول</button> {% endcomment %}
                            <a href="{% url 'homepage' %}" class="btn btn-success">خرید محصول</a>
                        </div>
                    </div>
                    
                </div>
              </div>
            </div>
        </section>


        <section style="padding-top: 50px;">
            <div class="container-fluid con-flu-col">
                <div class="row">
                    <div></div>
                    <div class="col-lg-12">
                        <div class="col-md-4">
                            <div class="Feature_icon__3OtVF circle">
                                <img src="https://content.kaspersky-labs.com/se/ru/content/ru-ru/images/modernization/key features/anti-hacking/anti-hacking.svg"/>
                            </div>
                            <div class="circle-title">ضد هک</div>
                            <div class="circle-content">مسدود کننده حمله شبکه و ضد باج افزار از نفوذ هکرها به شبکه خانگی و رهگیری داده های شما جلوگیری می کند.</div>
                        </div>
                        <div class="col-md-4">
                            <div class="Feature_icon__3OtVF circle">
                                <img src="https://content.kaspersky-labs.com/se/ru/content/ru-ru/images/modernization/key%20features/anti-virus/anti-virus.svg"/>
                            </div>
                            <div class="circle-title">ضد ویروس</div>
                            <div class="circle-content">آنتی ویروس بلادرنگ برای محافظت از شما در برابر تهدیدات رایج مانند کرم ها و تروجان ها تا تهدیدات پیچیده مانند بات نت ها، روت کیت ها و سرکش ها کار می کند.</div>
                        </div>
                        <div class="col-md-4">
                            <div class="Feature_icon__3OtVF circle">
                                <img src="https://content.kaspersky-labs.com/se/ru/content/ru-ru/images/modernization/key%20features/anti-malware/anti-malware.svg"/>
                            </div>
                            <div class="circle-title">ضد بدافزار</div>
                            <div class="circle-content">ضد بدافزار پیشرفته تهدیدهایی از جمله جاسوس‌افزار، ابزارهای تبلیغاتی مزاحم، کیلاگرها، فیشینگ نیزه و حملات بدون فایل را که به سختی قابل تشخیص هستند، خنثی می‌کند.</div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <div>{% include 'footer.html' %}</div>
        
    </body>
</html>






