{% load static %}
<!DOCTYPE html>
<html>
    <head>{% include 'header.html' %}</head>
    <body>
        {% include "nav.html" %}
        <section style="height: 95px;padding-top: 83px;">
            <div class="container-fluid" style="background-color: #0067b8; height: 50px;padding-top: 360px;">
        </div>
        </section>
        <section class="section-mic">
            
            {% comment %} <div class="top-banner"></div> {% endcomment %}
            <div class="home-center pro">
                <div>
                    <img class="mic-logo" src="{{ product.images.first.image.url }}" />
                </div>
              <div class="home-desc-center" style="direction: rtl;">
                <div class="container content-page-mic">

                    <div class="row">
                    <div class="top-title-kasper-2 col-md-12">{{ product.title }}</div>
                    </div>
                    <div class="row">
                        <div class="top-title-kasper-3 col-md-5 ">{{ product.description }}</div>
                    </div>
                    <div class="row">
                        <div class="top-title-kasper-2 col-md-4 d-grid gap-2">
                            {% comment %} <button href="{% url 'homepage' %}" type="button" class="btnbtn-success">خرید محصول</button> {% endcomment %}
                            <a href="{% url 'homepage' %}" class="btn btn-success">خرید محصول</a>
                        </div>
                    </div>
                    
                </div>
              </div>
            </div>
        </section>


        <section>
            {{ product.extras.all.0.desc|safe }}
            {% comment %} <div class="container-fluid con-flu-mic">
                <div class="row" style="text-align: center;padding-bottom: 58px;">
                    <h1>امنیت همه جانبه برای ویندوز</h1><br/>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-container-server" style="display: flex;
                        flex-wrap: wrap;">

                            <div class="card">
                              <div class="card-count-container">
                                <div class="card-count a1 fa-brands fa-windows"></div>
                              </div>
                              <div class="card-content">
                                بهبود سرویس‌های Active Directory و اضافه شدن سرویس AD FS                              </div>
                            </div>
                            
                            <div class="card">
                              <div class="card-count-container">
                                <div class="card-count b fa-solid fa-database"></div>
                              </div>
                              <div class="card-content">
                                راه اندازی و مدیریت حرفه‌ای سرورهای میزبانی و مجازی
                                                              </div>
                            </div>
                            
                            <div class="card">
                              <div class="card-count-container">
                                <div class="card-count c fa-solid fa-network-wired"></div>
                              </div>
                              <div class="card-content">
                                قابلیت پردازش خوشه‌ای با دسترسی بالا و کاهش Failover
                            </div>
                            </div>

                            <div class="card">
                                <div class="card-count-container">
                                  <div class="card-count d fa-solid fa-hard-drive"></div>
                                </div>
                                <div class="card-content">
                                    تغییرات گسترده در نحوه ذخیره سازی و کپی داده‌ها در Storage Service                              </div>
                            </div>

                            <div class="card">
                                <div class="card-count-container">
                                  <div class="card-count e fa-solid fa-file-shield"></div>
                                </div>
                                <div class="card-content">
                                    اضافه شدن سرویس امنیتی Windows Server Anti-malware                              </div>
                            </div>

                            <div class="card">
                                <div class="card-count-container">
                                  <div class="card-count f fa-solid fa-network-wired"></div>
                                </div>
                                <div class="card-content">
                                    معرفی Windows PowerShell ۵,۰
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-count-container">
                                  <div class="card-count g fa-solid fa-network-wired"></div>
                                </div>
                                <div class="card-content">
                                    امکان راه اندازی نانو سرورها با Performance بسیار بالا
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-count-container">
                                  <div class="card-count h fa-solid fa-eraser"></div>
                                </div>
                                <div class="card-content">
                                    حذف پشتیبانی از NAP در سرویس DHCP
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div> {% endcomment %}
            
        </section>
        <div>{% include 'footer.html' %}</div>
        
    </body>
</html>