{% load static %}
<!DOCTYPE html>
<html>
    <head>{% include 'header.html' %}</head>
    <body>
        {% include "nav.html" %}
        <section style="height: 95px;padding-top: 83px;">
            <div class="container-fluid" style="background-color: #0067b8; height: 50px;padding-top: 360px;">
        </div>
        </section>
        <section class="section-mic">
            <div class="home-center pro">
                <div style="padding-top: 30px;">
                    <img class="mic-logo" src="{{ product.images.first.image.url }}" />
                </div>
              <div class="home-desc-center" style="direction: rtl;">
                <div class="container content-page-mic">

                    <div class="row">
                        <div class="top-title-micro-1 col-md-12 animated animatedFadeInUp fadeInUp">{{ product.title }}</div>
                    </div>
                    <div class="row">
                        <div class="top-title-micro-2 col-md-5 animated animatedFadeInUp fadeInUp">{{ product.description }}</div>
                    </div>
                    {% comment %} <div class="row">
                        <div class="top-title-kasper-2 col-md-4 d-grid gap-2">
                            <a href="{% url 'homepage' %}" class="btn btn-success">خرید محصول</a>
                        </div>
                    </div> {% endcomment %}
                    
                </div>
              </div>
            </div>
        </section>


        <section>
            {{ product.extras.all.0.desc|safe }}
            
        </section>
        <div>{% include 'footer.html' %}</div>
        
    </body>
</html>