{% load static %}
<!DOCTYPE html>
<html>
    
    <head>{% include 'header.html' %}</head>
    <body>
        {% include "nav.html" %}
        <section>
            
        </section>
        <section class="section half-home">
            <div class="sym-pro-ban">
                {% comment %} <img src="{% static 'img/symantec_code_banner.jpg' %}"> {% endcomment %}
            </div>
            <div class="container" style="padding-top: 55px;">
                <h1 class="symantec-title">Endpoint Security</h1>
            </div>
            <div class="row mrg">
                <div class="col-sm-3">
                  <div class="text-center bg-white mt-3 p-5 border">
                    <div>
                      <a href="{{ prod.id }}">
                        <img class="d-block mx-auto img-fluid" src="{% static 'img/icon_suite-circle.webp' %}">
                      </a>
                    </div>
                    <div style="padding-top:10px;">
                      Client Management Suite
                      <p class="text-muted mt-4">
                        Secures, monitors, and protects AWS, Azure, Google Cloud Platform, and Oracle Cloud Infrastructure workloads, plus Docker containers across public/private clouds and on-premises data centers.
                      </p>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-3">
                  <div class="text-center bg-white mt-3 p-5 border">
                    <div>
                      <a href="{{ prod.id }}">
                        <img class="d-block mx-auto img-fluid" src="{% static 'img/icon_asset-mgmt-circle.webp' %}">
                      </a>
                    </div>
                    <div style="padding-top:10px;">
                      Asset Management Suite
                      <p class="text-muted mt-4">
                        Secures, monitors, and protects AWS, Azure, Google Cloud Platform, and Oracle Cloud Infrastructure workloads, plus Docker containers across public/private clouds and on-premises data centers.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="text-center bg-white mt-3 p-5 border">
                    <div>
                      <a href="{{ prod.id }}">
                        <img class="d-block mx-auto img-fluid" src="{% static 'img/icon_server-mgmt-circle.webp' %}">
                      </a>
                    </div>
                    <div style="padding-top:10px;">
                      Server Management Suite
                      <p class="text-muted mt-4">
                        Secures, monitors, and protects AWS, Azure, Google Cloud Platform, and Oracle Cloud Infrastructure workloads, plus Docker containers across public/private clouds and on-premises data centers.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="text-center bg-white mt-3 p-5 border">
                    <div>
                      <a href="{{ prod.id }}">
                        <img class="d-block mx-auto img-fluid" src="{% static 'img/icon_ghost-solution-suite-circle.webp' %}">
                      </a>
                    </div>
                    <div style="padding-top:10px;">
                      Ghost Solution Suite
                      <p class="text-muted mt-4">
                        Secures, monitors, and protects AWS, Azure, Google Cloud Platform, and Oracle Cloud Infrastructure workloads, plus Docker containers across public/private clouds and on-premises data centers.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            {% comment %} <div class="home-center symantec-item">
                <div><img src="" /></div>
              <div class="home-desc-center" style="direction: rtl;">
                <div class="container">
                    <div class="row">
                    <div class="top-title-kasper-2 col-md-12"><p>{{ product.title }}</p></div>
                    </div>
                    <div class="row">
                        <div class="top-title-symantec-3 col-md-5 ">{{ product.description }}</div>
                    </div>
                    <div class="row">
                        <div class="top-title-kasper-2 col-md-4 d-grid gap-2">
                            <a href="{% url 'homepage' %}" class="btn btn-success">خرید محصول</a>
                        </div>
                    </div>
                </div>
              </div>
            </div> {% endcomment %}
        </section>
        <div>{% include 'footer.html' %}</div>
        
    </body>
</html>