{% load static %}
<!DOCTYPE html>
<html>
    
    <head>{% include 'header.html' %}</head>
    <body>
        {% include "nav.html" %}
        <section class="section half-home-symantec">
            <div class="sym-pro-ban"></div>

            <div class="container">
              <h1 class="symantec-title">Endpoint Security</h1>
            </div>
            

            <div class="container responsive_symantec" style="display: flex;padding-top: 40px;">
              <div class="col-lg-8 col-md-12">
                <div class="row">
                  <div class="top-title-kasper-2 col-md-12 animated animatedFadeInUp fadeInUp">{{ product.title }}</div>
                </div>
                <div class="row">
                  <div class="top-title-kasper-3 col-md-5 animated animatedFadeInUp fadeInUp">{{ product.description }}</div>
                </div>
                <div class="row" style="padding-top: 36px;">
                  
                  {% if product.collections.first.collection_type.title == 'home' %}
                  <div class="text-center col-lg-4 col-md-12">
                      <a href="#" class="btn btn-success w-x">خرید محصول</a>
                  </div>
                  {% else %}
                  <div class="text-center top-pad col-lg-4 col-md-12">
                      <a class="btn btn-success w-x" href="/add_inquery/{{ product.slug }}">استعلام محصول</a>
                  </div>
                  {% endif %}
                </div>
              </div>

              <div class="col-lg-4 col-md-12" style="display: flex;justify-content: center;">
                <img class="sym_logo_pro" src="{{ product.images.first.image.url }}" alt="symantec"/>
              </div>
                
            </div>


            <div class="container" style="padding-top: 150px;">
                {% comment %} <h1 class="symantec-title">Endpoint Security</h1> {% endcomment %}

                <div class="row mrg">
                  <div class="col-lg-3 col-sm-3">
                    <div class="text-center bg-white mt-3 p-5 border">
                      <div>
                        <a href="{{ prod.id }}">
                          <img class="d-block mx-auto img-fluid" src="{% static 'img/icon_suite-circle.webp' %}">
                        </a>
                      </div>
                      <div style="padding-top:10px;">
                        Client Management Suite
                        <p class="text-muted mt-4">
                          Secures, monitors, and protects AWS, Azure.
                        </p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-3 col-sm-3">
                    <div class="text-center bg-white mt-3 p-5 border">
                      <div>
                        <a href="{{ prod.id }}">
                          <img class="d-block mx-auto img-fluid" src="{% static 'img/icon_asset-mgmt-circle.webp' %}">
                        </a>
                      </div>
                      <div style="padding-top:10px;">
                        Asset Management Suite
                        <p class="text-muted mt-4">
                          Secures, monitors, and protects AWS, Azure.
                        </p>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-3 col-sm-3">
                    <div class="text-center bg-white mt-3 p-5 border">
                      <div>
                        <a href="{{ prod.id }}">
                          <img class="d-block mx-auto img-fluid" src="{% static 'img/icon_server-mgmt-circle.webp' %}">
                        </a>
                      </div>
                      <div style="padding-top:10px;">
                        Server Management Suite
                        <p class="text-muted mt-4">
                          Secures, monitors, and protects AWS, Azure.
                        </p>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-3 col-sm-3">
                    <div class="text-center bg-white mt-3 p-5 border">
                      <div>
                        <a href="{{ prod.id }}">
                          <img class="d-block mx-auto img-fluid" src="{% static 'img/icon_ghost-solution-suite-circle.webp' %}">
                        </a>
                      </div>
                      <div style="padding-top:10px;">
                        Ghost Solution Suite
                        <p class="text-muted mt-4">
                          Secures, monitors, and protects AWS, Azure.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            
        </section>
        <div>{% include 'footer.html' %}</div>
        
    </body>
</html>