body {
    font-family: IRANSans, sans-serif;
    padding: 0;
    background-color: #FFF;
}

  
/*/////////////////////////////////////////////////////////////////////////*/
  

.navbar{
    transition: 0.3s;
    position:absolute;
    z-index:10;
    width:100%;
    --bs-navbar-nav-link-padding-x: 1.5rem;
}
.navbar:hover{
    background-color: rgba(51, 51, 51, 0.719);
    color: #fff;
}
.navbar-expand-lg{
    padding: 0;
    position: fixed;
}
.navbar:hover a{
    color:#FFF;
}

.navbar a{
    line-height: 4rem;
    color: #111;
    /* padding: 3vh 5vh; */
}

.nav-item:hover .nav-link ,.menu-tabs ul li a:hover{
    background-color: #444;
    color: #fff;
}

.nav-tabs{
    border: none;
}

.nav-item .menu-tabs{
    position: absolute;
    display: none;
}
.nav-item:hover .menu-tabs{
    display: flex;
}

.bgg-white a{
    color: #fff;
}
.bgg-white{
    background-color: #444444;
}

.navbar img {
    width: 10rem;
}


#navbarNav {
    z-index: 9999;

}



/*/////////////////////////////////////////////////////////////////////////*/





.menu-tabs{
    display: flex;
    background-color: #222;
    color: azure;
    padding: 0;
    width: 500px;
}

.menu-tabs ul{
    display: block;

}

.menu-tabs ul li{
    width: 200px;
}
.menu-tabs ul li:hover{
    /* background-color: #222; */
    padding: 0;
    line-height: normal;
}

.menu-tabs ul li a{
    color: #FFF;
    text-decoration: none;
    padding: 20px;
    display: flex;
    line-height: normal;
}

/* .a{
    min-width: 189px;
}
.b{
    min-width: 173px;
}
#d {
    padding-inline-start: 81px;
} */




.tab-content{
    width: 100%;
    height: 18rem;
    min-width: 85vh;
    padding: 10px;
    background-color: #444;
}

.tab-content .tab-pane{
    color: #FFF
}



.carousel-inner .img{
    position: absolute;
    object-fit:cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    min-height: 50rem;
    background:rgba(0,0,0,0.7);
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 50rem;
}

.bannerContainer {
    position:relative;     
}
.carousel {
    top:0;
}

.text-start {
    text-align: right!important;
    right: 5rem;
    left: 30rem;
    top: 10rem;
}

.font-6{
    color: #77ACDC;
    font-size: 38px;
    padding-top: 10px;
}

.btn-secondary {
    width: 180px;
    border-radius: 0;
    padding: 10px;
    background-color: #309eb7;
}
.btn-secondary:hover{
    background-color: #3049b7;
}

.eset{
    position: absolute;
    top: 12rem;
    /* right: 117px; */
    color: #fff;
    width: 85%;
}


/**************   flip card   ****************/

.flip{
    max-width: inherit;
    text-align: -webkit-center;
}
.flip-logo{
    /* background-color: blue; */
    background: none;
    padding: 12px 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 24px 30px;
}

.flip-logo img {
    width: 100px;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    /* box-shadow:blue; */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0px 8px 0px rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #ffffff;
    color: black;
  }
  
  .flip-card-back {
    background-color: #ffffff;
    color: white;
    transform: rotateY(180deg);
  }


.back-face{
    padding-top: 7rem;
}

.btn-flip{
    
    background-color: rgb(6, 158, 13);
    width: 60%;
    max-width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-flip:hover{
    background-color: rgb(2, 90, 6);
    color: #fff;
}


.padding {
    padding: 25px;
}





/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */
.back-color {
    background-color: #2a2e32;
  }
  
.text-small {
    font-size: 0.9rem;
}
  
a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}
  
a:hover, a:focus {
    text-decoration: none;
}
  

  
footer {
    background: #212529;
}
.footer-text{
    color: #fff;
    /* text-align: center; */
    padding: 11px;
    -webkit-text-stroke-width: thin;
}




.cus-card {
    width: 13rem;
    color: #fff;
    text-align: center;
    display: contents;
}

.pad-line {
    padding-inline: 79px;
}

.eset-product{
    position: absolute;
    top: 24rem;
}
.lo {
    display: flex;
}

.kas-card{
    padding-top: 15rem;
    border: none;
    height: fit-content;
    text-align: center;
    background: none;
}

.row{
    --bs-gutter-x: 0;
}

@media screen and (max-width:600px){
    .hide {
        display: none;
    }
    .carousel-inner{
        height: 60rem;
    }
    .eset-product{
        justify-content: center;
    }
    .col-md-9 h1{
        text-align: center;
    }
    .kas-image{
        width: -webkit-fill-available;
    }
    .kas-card{
        padding-top: 0;
    }
}

.col-md-3{
    width: auto;
}

