body {
    font-family: IRANSans, sans-serif;
    padding: 0;
    background-color:#FAFBFC;
}

  
/*/////////////////////////////////////////////////////////////////////////*/
  
.service-card{
    position: relative;
    z-index: 1;
    display: block;
    padding: 35px 30px;
    text-align: left;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 30px;
    -webkit-box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);
    -moz-box-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
    box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    will-change: transform;
}

.service-card:hover {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.navbar-brand{
    background-image: url('../img/logo-black.png');
    width: 171px;
    height: 67px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 140px;
}

.navbar:hover .navbar-brand,
.bgg-white .navbar-brand{
    background-image: url('../img/logo-white.png');
}

.navbar { 
    transition: 0.3s;
    position:absolute;
    z-index:10;
    width:100%;
    --bs-navbar-nav-link-padding-x: 1.5rem;
    background-color: rgba(51, 51, 51, 0.719);
    box-shadow: 0 1px 4px rgb(92 133 150 / 25%);
    -webkit-transition: -webkit-box-shadow .3s;
}

.navbar-expand-lg{
    padding: 0;
    position: fixed;
}
.navbar:hover a{
    color:#FFF;
}

.navbar a{
    line-height: 4rem;
    color: #ffffff;
    /* padding: 3vh 5vh; */
}

.nav-item:hover .nav-link ,.menu-tabs ul li a:hover{
    background-color: #444;
    color: #fff;
}

.nav-tabs{
    border: none;
}

.nav-item .menu-tabs{
    position: absolute;
    display: none;
}
.nav-item:hover .menu-tabs{
    display: flex;
}

.nav-item.business .menu-tabs{
    margin-right: -156px;
}
.nav-item.home .menu-tabs{
    margin-right: -335.88px;
}
.nav-item.srvs .menu-tabs{
    width: auto;
    /* display: flex; */
}

.eset-list .img-fluid{
    height: 164px;
}

.bgg-white a.nav-link{
    color: #FFF;
}
.bgg-white{
    background-color: #444444 !important;
}




#navbarNav {
    z-index: 9999;

}

.nav-item .bef::after{
    content: "\f078";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}


.justi {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    padding-top: 25px;
}


/*/////////////////////////////////////////////////////////////////////////*/





.menu-tabs{
    display: flex;
    background-color: #222;
    color: azure;
    padding: 0;
    width: 500px;
}

.menu-tabs ul{
    display: block;

}

.menu-tabs ul li{
    width: 200px;
}
.menu-tabs ul li:hover{
    /* background-color: #222; */
    padding: 0;
    line-height: normal;
}

.menu-tabs ul li a{
    color: #FFF;
    text-decoration: none;
    padding: 20px;
    display: flex;
    line-height: normal;
}


.tab-content{
    width: 100%;
    height: inherit;
    min-width: 85vh;
    padding: 10px;
    background-color: #444;
}

.tab-content .col-sm-4{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}
.item_product{
    padding: 15px;
}
.item_product p{
    line-height: normal;
    padding-top: 24px;
    font-size: 14px;
    width: max-content;
    font-weight: 600;
    display: inline-block;
}


.navbar img {
    width: 132px;
    height: 136px;
    border-radius: 10px;
}



.tab-content .tab-pane{
    color: #FFF
}

.carousel-inner .img{
    position: absolute;
    object-fit:cover;
    width: 100%;
    height: 650px;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.7);
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 650px;
}

.home-content{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 650px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.home-content .right h1 {
    font-weight: 800;
    font-size: 58px;
    color: #fff;
    margin-bottom: 20px;
}

.home-content .right h3 {
    font-size: 21px;
    /* color: #555; */
    color: #fff;
}

#grad {
    background-color: #FFF;
}

.bannerContainer {
    position:relative;     
}
.carousel {
    top:0;
}

.text-start {
    text-align: right!important;
    right: 5rem;
    left: 30rem;
    top: 10rem;
}

.font-6{
    color: #77ACDC;
    font-size: 38px;
    padding-top: 10px;
}

.btn-secondary {
    width: 180px;
    border-radius: 0;
    padding: 10px;
    background-color: #309eb7;
}
.btn-secondary:hover{
    background-color: #3049b7;
}

.eset{
    position: absolute;
    top: 12rem;
    /* right: 117px; */
    color: #fff;
    width: 85%;
}

.eset-list-btn {
    width: 321px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-top: 61px;
    background: url();
    border-radius: 12px;
}

.kaspersky-list-btn {
    width: 321px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-top: 34px;
    background: url();
    border-radius: 12px;
}

.symantec-list-btn {
    width: 321px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-top: 103px;
    background: url();
    border-radius: 12px;
}

.mic-list-btn {
    width: 321px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-top: 61px;
    background: url();
    border-radius: 12px;
}


/**************   flip card   ****************/

.flip{
    max-width: inherit;
    text-align: -webkit-center;
}
.flip-logo{
    background: none;
    padding: 12px 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 24px 30px;
}

.flip-logo img {
    width: 100px;
}

.flip-card {
    background-color: transparent;
    width: 260px;
    height: 240px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0px 8px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
  }
  
  .flip-card-back {
    background-color: #ffffff;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
  }


.back-face{
    padding-top: 55px;
}

.btn-flip{
    /* background-color: rgb(0 133 127); */
    background-color: #7B68EE;
    color: #fff;
    width: 80%;
    max-width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    height: 37px;
}
.btn-flip:hover{
    /* background-color: rgb(1, 110, 105); */
    background-color: #5A45C2;
    color: #fff;
}


.padding {
    padding: 25px;
}





/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */
.back-color {
    background-color: #2a2e32;
  }
  
.text-small {
    font-size: 0.9rem;
}
  
a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}
  
a:hover, a:focus {
    text-decoration: none;
}
  

  
footer {
    background: #212529;
}
.footer-text{
    color: #fff;
    /* text-align: center; */
    padding: 11px;
    -webkit-text-stroke-width: thin;
}




.cus-card {
    width: 13rem;
    color: #fff;
    text-align: center;
    display: contents;
}

.pad-line {
    padding-inline: 79px;
}

.eset-product{
    position: absolute;
    top: 24rem;
}
.lo {
    display: flex;
}



.row{
    --bs-gutter-x: 0;
}

@media screen and (max-width:600px){
    .hide {
        display: none;
    }
    .carousel-inner{
        height: 60rem;
    }
    .eset-product{
        justify-content: center;
    }
    .col-md-9 h1{
        text-align: center;
    }
}

.col-md-3{
    width: auto;
}


div.icon svg {
    background: #FAFBFC;
    margin-bottom: 20px;
}



.services {
    display: flex;
    height: 350px;
    padding-bottom: 400px;
    justify-content: space-evenly;
    align-content: space-between;
}


.font-services {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.pad-bot {
    padding-bottom: 0px;
    padding-top: 40px;
}

.kh-p {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.kh-p img {
    width: 200px;
}

.kh-p p {
    text-align: center;
    font-size: 24px;
    color: black;
}

.services-banner {
    position: absolute;
    z-index: 0;
    height: 550px;
    background-color: #111;
}

.services-banner img {
    width: 550px;
    padding-top: 50px;
}

.home-center-kh {
    top: 102px;
    display: table;
    width: 100%;
    height: 420px;
}


.section-kh {
    padding-top: 605px;
}

.text-kh {
    text-align: justify;
    padding-top: 60px;
    padding-bottom: 110px;
}

.bg-color-1 {
    
}

section#services {
    background-color:#FAFBFC;
    min-height: 700px;
    box-shadow: 0 8px 11px 0px rgb(128 128 128 / 10%)
}

section#software{
    min-height: 700px;
}

section#customer{
    padding-top: 80px;
}

.bg-color-2 {
    /* background: url(/static/img/testimonial-bg.jpg); */
    height: 500px;
    z-index: 0;
    position: relative;
    color: #222222;

}

.swiper-button-next, .swiper-button-prev{
    top: 36%;
}

#customers .swiper-slide{
    background: none;
}

@media only screen and (max-width:600px){
    .bg-color-1 {
        height: 77rem;
    }
    .bg-color-2 {
        height: 72rem;
    }
}
@media only screen and (max-width:900px){
    .bg-color-1 {
        height: 55rem;
    }
    .bg-color-2 {
        height: 43rem;
    }
}


#microsoft-v .col-md-6 {
    width: 26%;
}


.pici {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.pici img {
    margin-left: 20px;
}


.Card_card_customer {
    background-repeat: no-repeat;
    box-shadow: 0 12px 24px rgb(29 29 27 / 12%);
    border-radius: 4px;
    padding: 52px 10px 10px;
    margin: 32px 8px 36px;
    border-bottom: 4px solid transparent;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }

  .row-logo-card-customer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    position: relative;
    bottom: 29px;
    width: 168px;
}

.disp_customer {
    background: inherit;
    width: 264px;
    margin-left: 20px;
    height: 270px;
}

.swiper_customer {
    width: 90%;
    height: 71%;
}

.customer_title p {
    font-size: 15px;
}





/********************************  Best of Product **************************************/

.techvio {
    align-items: center!important;
    display: flex;
    flex-direction: row-reverse;
}

.techvio img{
    text-align: center;
    height: 500px;
}

.overview-content{
    direction: ltr;
}

.overview-content h6 {
    direction: rtl;
    font-size: 16px;
    font-weight: 700;
    color: #FF9800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.overview-content h2 {
    direction: rtl;
    font-size: 38px;
    color: #0b0b31;
    margin: 8px 0 15px 0;
}

.overview-content p {
    margin: 0 0 0 0;
}

.overview-content .features-list {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 16px;
    margin-left: -10px;
    margin-right: -10px;
    flex-direction: column;
}

.overview-content .features-list li {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    /* max-width: 50%; */
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.overview-content .features-list li span {
    display: block;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px 15px;
    z-index: 1;
    position: relative;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #0b0b31;
    border-left: 2px solid #7b68ee;
    font-weight: 600;
    font-size: 14px;
    -webkit-box-shadow: -1px 3px 20px 0px rgb(82 90 101 / 10%);
    box-shadow: -1px 3px 20px 0px rgb(82 90 101 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview-content .features-list li span::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-radius: 3px;
    background-color: #7b68ee;
    z-index: -1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.overview-content .features-list li span:hover {
	color: #ffffff;
}

.overview-content .features-list li span:hover::before {
	width: 100%;
}


.img-animation {
    width: 100%;
    height: 100%;
    position: relative;
    animation-name: img-up-down;
    animation-duration: 2s;
    animation-delay: 0.01s;
    animation-iteration-count: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes img-up-down{
  0% { left:0px; bottom:25px;}
  100% { left:0px; bottom:10px;}
}



/******************************** End best of product ************************************/



/*********************************** counter area *****************************************/

.counter-area {
    text-align: center;
    position: relative;
    color: #fff;
    text-align: center;
    background: url('../img/building.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

.counter-area::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .6;
    background: #03030c;
}
.counter-area .section-title h5 {
	color: #ffffff;
}
.counter-area .section-title h2 {
	color: #fff;
}

.section-padding-bg {
    padding: 100px 0;
}

.counter-content h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px;
    word-spacing: -10px;
}

.counter-content h3 {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
  }



/************************* End Counter Up ************************************/



/************************* InQuery form ***********************************/
.gfield_required{
    color: red;

}
span .gfield_required {
    margin-left: 0;
    margin-right: 4px;
}

.pro-info{
    padding-top: 130px;
    text-align: center;
    margin-right: 80px;
}
.pro-info img {
    height: 300px;
    padding-top: 37px;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form .form-control {
	background-color: #ffffff;
	border: none;
	height: 55px;
	font-size: 15px;
	border-right: 3px solid #7b68ee;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(148, 146, 245, 0.068);
	box-shadow: 0px 5px 30px 0px rgba(148, 146, 245, 0.062); 
}

.contact-form .col-lg-6, .col-lg-12{
    padding-left: 10px;
}

.send-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    background-color: #7b68ee;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 7px 25px rgb(123 104 238 / 25%);
}

.send-btn span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: #3e57d0;
	-webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 30px;
}

.send-btn:hover{
    color: #fff;
    background-color:#644ce9;    
}

.contact-form .form-control:focus {
	
    -webkit-box-shadow: 0px 5px 30px 0px rgba(148, 146, 245, 0.192);
	box-shadow: 0px 5px 30px 0px rgba(148, 146, 245, 0.199);  
}

/************************* End InQuery form ***********************************/

/************************* Fade in image ***********************************/


.fade-in-text {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


/***************************** End fade in image ***********************************/


/******************************* fade in up ****************************************/

/* Animation */
@keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
  }
  
  .animatedFadeInUp {
    opacity: 0;
  }
  
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }

/******************************* End fade in up ****************************************/


/********************************** Gradient ****************************************/



.bg-gradient-1 {
    /* background: linear-gradient(65.38deg, #5540BF -1.92%, #A293F0 99.19%); */
    background: linear-gradient(65.38deg, #bcafffc7 -1.92%, #A293F0 99.19%);
}

.bg-gradient-2 {
    background: linear-gradient(130.76deg, rgba(150, 134, 228, 0.1) 15.8%, rgba(90, 69, 194, 0) 75.08%);
}

.section-bottom-right-rounded {
    border-bottom-right-radius: 250px;
}

.section-top-left-rounded {
    border-top-left-radius: 250px;
}

.box-decorative {
    pointer-events: none;
    position: absolute;
    top: 35px;
    left: 48%;
    transform: translateX(-50%);
    bottom: 0;
    width: 73.4vw;
}
.section-xxl {
    padding: 60px 0 70px;
}

@media (min-width: 1200px){
    .section-bottom-right-rounded {
        border-bottom-right-radius: 250px;
    }
}
@media (min-width: 768px){
    .section-bottom-right-rounded {
        border-bottom-right-radius: 210px;
    }
}
@media (min-width: 992px){
    .section-xxl {
        padding: 211px 0 161px;
    }
}
@media (min-width: 768px){
    .section-xxl {
        padding: 150px 0 100px;
    }
}

/* .bg-gray-100 {
    background-color: #0d5cd3;
} */

.section-bottom-right-rounded + .bg-gray-100 {
    position: relative;
}

.section-bottom-left-rounded {
    border-bottom-left-radius: 100px;
}

/* .section-bottom-right-rounded::before {
    content: '';
    position: absolute;
    top: -250px;
    left: 0;
    right: 0;
    height: 250px;
    background-color:#FAFBFC;
    z-index: -1;
    
} */

@media (min-width: 1200px){
    .section-bottom-left-rounded {
        border-bottom-left-radius: 250px;
    }
}
@media (min-width: 768px){
    .section-bottom-left-rounded {
        border-bottom-left-radius: 210px;
    }
}


/*******************************  End Gradient ****************************************/


/*******************************  Parallax ****************************************/

#parallax .items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
#parallax .items__inner {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 800px;
    padding-top: 210px;
    /* background: #fff; */
  }
#parallax .items__layer .items__item {
    position: absolute;
    box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
  }
#parallax .items__layer .items__item:after {
    content: attr(data-title);
    position: absolute;
    line-height: 20px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
  }
#parallax .items__layer .items__item:hover:after {
    visibility: visible;
    opacity: 1;
  }
#parallax .items__layer:nth-child(1) .items__item {
    top: 200px;
    left: 120px;
    width: 340px;
    height: 340px;
    background: none;
  }
#parallax .items__layer:nth-child(1) .items__item:after {
    top: -23px;
    left: 0;
    color: none;
  }
#parallax .items__layer:nth-child(2) .items__item {
    top: 440px;
    left: 400px;
    width: 240px;
    height: 200px;
    background: none;
  }
#parallax .items__layer:nth-child(2) .items__item:after {
    bottom: -23px;
    right: 0;
    color: none;
  }
#parallax .items__layer:nth-child(3) .items__item {
    top: 400px;
    left: 160px;
    width: 300px;
    height: 300px;
    background: #366C6F;
  }
#parallax .items__layer:nth-child(3) .items__item:after {
    bottom: -23px;
    left: 0;
    color: none;
  }
#parallax .items__layer:nth-child(4) .items__item {
    top: 100px;
    left: 400px;
    width: 350px;
    height: 480px;
    background: none;
  }
  #parallax .items__layer:nth-child(4) .items__item:after {
    top: -23px;
    right: 0;
    color: none;
  }
  #parallax .items__layer:nth-child(5) .items__item {
    top: 300px;
    left: 300px;
    width: 200px;
    height: 200px;
    background: none;
  }
  #parallax .items__layer:nth-child(5) .items__item:after {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: auto;
    text-align: center;
    color: none;
  }


/******************************* End Parallax ****************************************/


/************************* Deep Card ************************************/

/* #deep-card {
    padding-top: 50px;
}

#deep-card body {
    margin: 40px 0;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    background-color: #BCAAA4;
    -webkit-font-smoothing: antialiased;
  }
  
#deep-card .title {
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    color: #5D4037;
    text-align: center;
  }
  
#deep-card p {
    line-height: 1.5em;
  }
  
#deep-card h1 + p, p + p {
    margin-top: 10px;
  }
  
#deep-card .container {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
#deep-card .card-wrap {
    margin: 10px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
  }
#deep-card .card-wrap:hover .card-info {
    transform: translateY(0);
  }
#deep-card .card-wrap:hover .card-info p {
    opacity: 1;
  }
#deep-card .card-wrap:hover .card-info, .card-wrap:hover .card-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
#deep-card .card-wrap:hover .card-info:after {
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
  }
#deep-card .card-wrap:hover .card-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
  }
#deep-card .card-wrap:hover .card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
  }
  
#deep-card .card {
    position: relative;
    flex: 0 0 240px;
    width: 215px;
    height: 320px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  
#deep-card .card-bg {
    opacity: 0.5;
    position: absolute;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
    width: 256px;
    height: 355px;
    right: -20px;
    top: -20px;
  }

  
#deep-card .card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.3s 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
#deep-card .card-info p {
    opacity: 0;
    text-shadow: black 0 2px 3px;
    transition: 0.3s 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
#deep-card .card-info * {
    position: relative;
    z-index: 1;
  }
#deep-card .card-info:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
#deep-card .card-info h1 {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
} */




/************************* End Deep Card ***********************************/