body {
    font-family: IRANSans, sans-serif;
    padding: 0;
    background-color: #fafbfc;
}

  
/*/////////////////////////////////////////////////////////////////////////*/
  
.service-card{
    position: relative;
    z-index: 1;
    display: block;
    padding: 35px 30px;
    text-align: left;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 30px;
    -webkit-box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);
    -moz-box-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
    box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    will-change: transform;
}

.service-card:hover {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.navbar-brand{
    background-image: url('../img/logo-black.png');
    width: 171px;
    height: 67px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 140px;
}

.navbar:hover .navbar-brand,
.bgg-white .navbar-brand{
    background-image: url('../img/logo-white.png');
}

.navbar { 
    transition: 0.3s;
    position:absolute;
    z-index:10;
    width:100%;
    --bs-navbar-nav-link-padding-x: 1.5rem;
    background-color: rgba(51, 51, 51, 0.719);
    box-shadow: 0 1px 4px rgb(92 133 150 / 25%);
    -webkit-transition: -webkit-box-shadow .3s;
}

.navbar-expand-lg{
    padding: 0;
    position: fixed;
}
.navbar:hover a{
    color:#FFF;
}

.navbar a{
    line-height: 4rem;
    color: #ffffff;
    /* padding: 3vh 5vh; */
}

.nav-item:hover .nav-link ,.menu-tabs ul li a:hover{
    background-color: #444;
    color: #fff;
}

.nav-tabs{
    border: none;
}

.nav-item .menu-tabs{
    position: absolute;
    display: none;
}
.nav-item:hover .menu-tabs{
    display: flex;
}

.bgg-white a.nav-link{
    color: #FFF;
}
.bgg-white{
    background-color: #444444 !important;
}

.navbar img {
    width: 7rem;
}


#navbarNav {
    z-index: 9999;

}

.nav-item .bef::after{
    content: "\f078";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}


.justi {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    padding-top: 25px;
}


/*/////////////////////////////////////////////////////////////////////////*/





.menu-tabs{
    display: flex;
    background-color: #222;
    color: azure;
    padding: 0;
    width: 500px;
}

.menu-tabs ul{
    display: block;

}

.menu-tabs ul li{
    width: 200px;
}
.menu-tabs ul li:hover{
    /* background-color: #222; */
    padding: 0;
    line-height: normal;
}

.menu-tabs ul li a{
    color: #FFF;
    text-decoration: none;
    padding: 20px;
    display: flex;
    line-height: normal;
}


.tab-content{
    width: 100%;
    height: 18rem;
    min-width: 85vh;
    padding: 10px;
    background-color: #444;
}

.tab-content .tab-pane{
    color: #FFF
}

.carousel-inner .img{
    position: absolute;
    object-fit:cover;
    width: 100%;
    height: 650px;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.7);
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 650px;
}

.home-content{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 650px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.home-content .right h1 {
    font-weight: 800;
    color: #6d6d6d;
    margin-bottom: 20px;
}

.home-content .right h3 {
    font-size: 21px;
    color: #555;
}

#grad {
    background-color: #FFF;
    /* background-image: url(/static/img/fingerprint.png);
    background-repeat: no-repeat;
    background-position: 154px 127px; */
}

.bannerContainer {
    position:relative;     
}
.carousel {
    top:0;
}

.text-start {
    text-align: right!important;
    right: 5rem;
    left: 30rem;
    top: 10rem;
}

.font-6{
    color: #77ACDC;
    font-size: 38px;
    padding-top: 10px;
}

.btn-secondary {
    width: 180px;
    border-radius: 0;
    padding: 10px;
    background-color: #309eb7;
}
.btn-secondary:hover{
    background-color: #3049b7;
}

.eset{
    position: absolute;
    top: 12rem;
    /* right: 117px; */
    color: #fff;
    width: 85%;
}

.eset-list-btn {
    width: 321px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-top: 61px;
    background: url();
    border-radius: 12px;
}

.kaspersky-list-btn {
    width: 321px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-top: 34px;
    background: url();
    border-radius: 12px;
}

.symantec-list-btn {
    width: 321px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-top: 103px;
    background: url();
    border-radius: 12px;
}

.mic-list-btn {
    width: 321px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-top: 61px;
    background: url();
    border-radius: 12px;
}


/**************   flip card   ****************/

.flip{
    max-width: inherit;
    text-align: -webkit-center;
}
.flip-logo{
    /* background-color: blue; */
    background: none;
    padding: 12px 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 24px 30px;
}

.flip-logo img {
    width: 100px;
}

.flip-card {
    background-color: transparent;
    width: 260px;
    height: 240px;
    perspective: 1000px;
    /* box-shadow:blue; */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0px 8px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
  }
  
  .flip-card-back {
    background-color: #ffffff;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
  }


.back-face{
    padding-top: 55px;
}

.btn-flip{
    background-color: rgb(0 133 127);
    width: 80%;
    max-width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    height: 37px;
}
.btn-flip:hover{
    background-color: rgb(1, 110, 105);
    color: #fff;
}


.padding {
    padding: 25px;
}





/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */
.back-color {
    background-color: #2a2e32;
  }
  
.text-small {
    font-size: 0.9rem;
}
  
a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}
  
a:hover, a:focus {
    text-decoration: none;
}
  

  
footer {
    background: #212529;
}
.footer-text{
    color: #fff;
    /* text-align: center; */
    padding: 11px;
    -webkit-text-stroke-width: thin;
}




.cus-card {
    width: 13rem;
    color: #fff;
    text-align: center;
    display: contents;
}

.pad-line {
    padding-inline: 79px;
}

.eset-product{
    position: absolute;
    top: 24rem;
}
.lo {
    display: flex;
}



.row{
    --bs-gutter-x: 0;
}

@media screen and (max-width:600px){
    .hide {
        display: none;
    }
    .carousel-inner{
        height: 60rem;
    }
    .eset-product{
        justify-content: center;
    }
    .col-md-9 h1{
        text-align: center;
    }
}

.col-md-3{
    width: auto;
}


div.icon svg {
    background: #FFF;
    margin-bottom: 20px;
}



.services {
    display: flex;
    height: 350px;
    padding-bottom: 400px;
    justify-content: space-evenly;
    /* width: 85%; */
    /* display: flex; */
    /* flex-direction: row; */
    align-content: space-between;
}


.font-services {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

.pad-bot {
    padding-bottom: 0px;
    padding-top: 40px;
}

.kh-p {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.kh-p img {
    width: 200px;
}

.kh-p p {
    text-align: center;
    font-size: 24px;
    color: black;
}

.services-banner {
    /* background: url(https://ravinacademy.com/wp-content/uploads/2020/04/Corporate_Training.png) center center / cover scroll no-repeat; */
    position: absolute;
    z-index: 0;
    height: 550px;
    background-color: #111;
}

.services-banner img {
    width: 550px;
    padding-top: 50px;
}

.home-center-kh {
    top: 102px;
    display: table;
    width: 100%;
    height: 420px;
}


.section-kh {
    padding-top: 605px;
}

.text-kh {
    text-align: justify;
    padding-top: 60px;
    padding-bottom: 110px;
}

.bg-color-1 {
    
}

section#services {
    background-color: #FFFFFF;
}

section#software{

}

section {
    min-height: 700px;
}

.bg-color-2 {
    /* background: url(/static/img/testimonial-bg.jpg); */
    height: 500px;
    z-index: 0;
    position: relative;
    color: #222222;

}

@media only screen and (max-width:600px){
    .bg-color-1 {
        height: 77rem;
    }
    .bg-color-2 {
        height: 72rem;
    }
}
@media only screen and (max-width:900px){
    .bg-color-1 {
        height: 55rem;
    }
    .bg-color-2 {
        height: 43rem;
    }
}


#microsoft-v .col-md-6 {
    width: 26%;
}


.pici {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}