body {
    font-family: IRANSans, sans-serif;
    overflow-x: hidden !important;
    position: relative;
}

.bg-home {
    background-color: #0096A1;
    position: relative;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    /* background: #ffffff; */
}

.half-home {
    padding: 20px 0 0;
    top: -20px;
}
.border {
    border: solid 1px;
    border-color: darkgrey;
}

.home-center {
    display: table;
    width: 100%;
    height: 420px;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

.justify-content-center {
    justify-content: center!important;
}

.text-center {
    text-align: center!important;
}

.text-aling{
    text-align: end;
    width: 255px;
}

.text-white {
    color: #ffffff !important;
}



.mb-0 {
    margin-bottom: 0!important;
}


.title {
    text-transform: uppercase;
    font-size: 24px;
}

.text-muted {
    color: #6c757d !important;
}
.text-color{
    color:#7ba3ee;
}
.mt-5 {
    margin-top: 3rem!important;
}

.mt-4 {
    margin-top: 1.5rem!important;
}

.mt-3 {
    margin-top: 1rem!important;
}

.skin-mt-s {
    margin-top: 25px;
}

.p-5 {
    padding: 3rem!important;
}

.bg-white {
    background-color: #ffffff !important;
}

.col-lg-4 {
    padding-left: 15px;
    padding-right: 15px;
}

ul.list-checkmark li{
    list-style: none;
}

ul.list-checkmark li.y::before{
    content: "\f00c";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    color: #00db2a;
    margin-right: 10px;
}

ul.list-checkmark li.x::before{
    content: "\58";
    font-family: 'Font Awesome 5 Free';
    font-weight: 800;
    color: #db0000;
    margin-right: 10px;
}

.top-pad {
    padding-top: 15px;
}

.w-x {
    width: -webkit-fill-available;
}

/******eset detail*************/

.content-page {
    padding-inline: 60px;
    padding-top: 96px;
}

.nod-banner {
    background: url(/static/img/nod-banner.jpg) center center / cover scroll no-repeat;
    /* position: absolute; */
    z-index: 0;
    height: 500px;
}

.smart-banner {
    background: url(/static/img/smart-banner.jpg) center center / cover scroll no-repeat;
    /* position: absolute; */
    z-index: 0;
    height: 500px;
}

.internet-banner {
    background: url(/static/img/eset-banner-01.jpg) center center / cover scroll no-repeat;
    /* position: absolute; */
    z-index: 0;
    height: 500px;
}

.top-title-1 {
    color: white;
    /* font-weight: 100; */
    font-size: 31px;
}

.top-title-2 {
    color: #fff;
    padding-top: 47px;
    font-size: 30px;
    font-weight: bold;
}

.top-title-3 {
    padding-top: 12px;
    color: #fff;
}

.csc-textpic svg {
    margin: 0 auto;
    max-width: 100%;
}

.eset-svg-icon svg {
    overflow: visible;
    box-sizing: content-box;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* .section .benefit-icon-wrapper.display [fill^="#"] {
    fill: #008ba0;
} */

.center-list {
    text-align: center!important;
    display: flex;
    width: 90px;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}


.icon-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.icon-list .row div:nth-child(1){
    text-align: right;
}
.icon-list .row div:nth-child(3){
    text-align: left;
}

.min-wi {
    min-width: 300px;
}



.section-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.benefit-wrapper {
    position: relative;
    margin-bottom: 20px;
    padding: 20px 0 100px;
}


.icon svg path{
    fill:#008ba0;
}


.home-title-1 {
    font-size: 38px;
    line-height: 1.4;
    padding-bottom: 3rem;
}

.home-title-2 {
    font-size: 38px;
    line-height: 1.4;
    padding-bottom: 3rem;
    padding-top: 6rem;
}
.home-title-3 {
    font-size: 38px;
    line-height: 1.4;
    padding-bottom: 3rem;
    padding-top: 6rem;
}

.home-title-1::before{
    position: absolute;
    top: 150px;
    bottom: 0;
    width: 1px;
    margin-left: -1px;
    border-radius: 2px;
    background-color: #424d56;
    content: "";
    z-index: -1;
    left: 0;
    right: 50%;
    height: 22rem;
}
.home-title-2::before{
    position: absolute;
    top: 44rem;
    bottom: 0;
    width: 1px;
    margin-left: -1px;
    border-radius: 2px;
    background-color: #424d56;
    content: "";
    z-index: -1;
    left: 0;
    right: 50%;
    height: 25rem;
}
.home-title-3::before{
    position: absolute;
    top: 77rem;
    bottom: 0;
    width: 1px;
    margin-left: -1px;
    border-radius: 2px;
    background-color: #424d56;
    content: "";
    z-index: -1;
    left: 0;
    right: 50%;
    height: 26rem;
}

.bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-content: center;
}

.p-t {
    padding-top: 86px;
}

.bottom-width {
    width: 205px;
}

.foot {
    padding-top: 0;
}