
.top-banner {
    padding-top: 0;
    background-color: #ffffff;
}

.banner {
    display: flex;
    flex-direction: row-reverse;
}

.kas-image {
    background: url(/static/img/kasper-banner.png) no-repeat left scroll;
    position: absolute;
    z-index: 0;
    height: 550px;
    /* left: 205px; */
}

.kas-card{
    padding-top: 15rem;
    border: none;
    height: fit-content;
    text-align: center;
    background: none;
}
.content-page-kasper {
    padding-inline: 60px;
    padding-top: 38px;
    margin-inline: 26px;
    padding-bottom: 70px;
}
.top-title-kasper-1 {
    color: rgb(0, 0, 0);
    /* font-weight: 100; */
    font-size: 31px;
}

.top-title-kasper-2 {
    color: rgb(0, 0, 0);
    padding-top: 47px;
    font-size: 30px;
    font-weight: bold;
}

.top-title-kasper-3 {
    padding-top: 12px;
    color: rgb(0, 0, 0);
    width: 70%;
    text-align: justify;
}
.title-kasper-3 {
  padding-top: 12px;
  color: rgb(0, 0, 0);
  width: 46%;
  text-align: justify;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    display: inline-flex;
    padding-top: 70px;
}
.logo .lg {
    width: fit-content;
    margin: 0 0 0 21px;
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.top {
  top: 600px;
  background-color: rgb(171 171 171 / 13%);
}


/********** swiper ***********/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
 
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  height: max-content;
  height: 146px;
  width: fit-content;
}


.slide-item-top {
  padding-top: 0px;
}
.slide-item-top p {
  margin-bottom: 10px;
}

#kasper-swiper .swiper-slide .kasper-desc{
  padding: 25px 40px 22px 40px;
  text-align: justify;
}


.CardLight_card {
  background-image: url(/static/img/bg.9b69211dde03d91a462456abbc858143.svg);
  background-position: center -20px;
  border-bottom-color: #00a88e;
}

.Card_card {
  background-repeat: no-repeat;
  box-shadow: 0 12px 24px rgb(29 29 27 / 12%);
  border-radius: 4px;
  padding: 52px 10px 10px;
  margin: 32px 8px 36px;
  border-bottom: 4px solid transparent;
  min-height: 410px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.row-logo-card {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  position: relative;
  bottom: 82px;
}

.row-logo-card img {
  width: 58px;
  height: 64px;
}

.disp {
  background: inherit;
  width: 264px;
  margin-left: 20px;
  height: 500px;
}


.btn-link {
  text-decoration: none;
}

.pro {
  direction: ltr;
  width: 80%;
}

.i {
  margin: 86px 110px 0px 0px;
}

.con-flu-col {
  background-color: #23D1AE;
  padding: 30px;
}

.con-flu-col .col-lg-12 {
  display: flex;
  height: 280px;
}

.con-flu-col .col-lg-12 .col-md-4{
  text-align: center;
  z-index: 5;
  margin: -61px 0px 0px 0px;
}

.Feature_icon__3OtVF {
  border-radius: 50%;
  box-shadow: 0 4px 20px rgb(92 133 150 / 24%);
  margin: 0 auto;
  background: #fff;
}

.circle {
  width: 136px;
  height: 131px;
  border-radius: 50%;
  padding-top: 34px;
  padding-right: 37px;
}

.circle-title {
  padding-top: 30px;
  font-size: 28px;
  text-align: center;
}

.circle-content {

  margin: 18px 45px;
  text-align: justify;
}

.k-button {
  width: 20%;
  padding: 16px 0 16px 0;
  margin-left: 18px;
}
.k-button-2 {
  width: 20%;
  padding: 16px 0 16px 0;
  border: solid;
}
.k-button-2:hover{
  background-color: #acacac;
  border: solid;
}

.p {
  padding: 46px 16px 0 0;
}


.kasper-title {
  text-align: center;
  font-size: 28px;
  padding-bottom: 55px;
}


.logo-kasper-product{
  display: flex;
  justify-content: center;
}



/*************************************************************************/





#kasper-swiper .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'prev';
}
#kasper-swiper .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'next';
}

.home-center-kasper{
  display: table;
  width: 100%;
  height: 420px;
}

.half-home-kasper{
  padding: 0;
  top: 67px;
}

@media only screen and (max-width: 600px){
    .kas-image {
      background: none;
      position: absolute;
      z-index: 0;
      height: 550px;
      /* left: 205px; */
    }
    .content-page-kasper {
      padding-top: 38px;
      margin-inline: 0;
      padding-bottom: 70px;
      text-align: center;
    }
    .logo .lg {
      width: fit-content;
      margin: 0 0 0 21px;
      padding: 7px;
    }
    .title-kasper-3{
      display: none;
    }
    #kasper-swiper .swiper {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      overflow:visible;
      list-style: none;
      padding: 0;
      z-index: 1;
    }
    .section {
      padding-top: 0;
      padding-bottom: 0;
      position: relative !important;
    }
    .top-title-kasper-2 {
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    .top-title-kasper-3 {
      display: none;
    }
    .kasper-title {
      text-align: center;
      font-size: 28px;
      padding: 36px;
    }
    .logo-kasper-product {
      display: flex;
      justify-content: center;
      height: 159px;
      margin-top: 26px;
    }
    .top-banner {
      padding-top: 0;
  }
  .home-center-kasper{
    display: table;
    width: 100%;
    height: 364px;
  }
  .half-home-kasper{
    padding: 0;
    top: 18px;
  }
}