body {
    background-color: rgb(247, 247, 247);
}

.mic-banner {
    background: url(/static/img/Microsoft-Banner.png) no-repeat scroll;
    z-index: 0;
    top: 85px;
}



.section-mic {
    padding-bottom: 80px;
    position: relative;
}

.mt-mic {
    margin-top: 3rem!important;
    justify-content: center;
}

.mic-logo {
    width: 200px;
    padding-top: 27px;
}