
.mic-banner {
    background: url(/static/img/Microsoft-Banner.png) no-repeat scroll;
    z-index: 0;
    top: 85px;
}

.section-mic {
    padding-bottom: 80px;
    position: relative;
}

.mt-mic {
    margin-top: 3rem!important;
    justify-content: center;
}

.mic-logo {
    width: 200px;
    border-radius: 15px;    
}

.con-flu-mic {
    background-color: #FFFFFF;
  }
  
  .con-flu-mic .col-lg-12 {
    display: flex;
    height: fit-content;
  }

  .top-title-micro-1 {
    color: #FFF;
    padding-top: 47px;
    font-size: 30px;
    font-weight: bold;
}

.top-title-micro-2 {
  padding-top: 12px;
  color: #fff;
  width: 45%;
  text-align: justify;
}
  
  * {
    box-sizing: border-box;
  }
  

  body > h1,
  body > p {
    text-align: center;
  }
  body > h1 {
    margin: 40px;
    color: #ffffff;
  }
  body > p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }
  .card-container-server {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 45px;
  }

  .card-container .card {
    margin: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 25%;
    height: 263px;
  }

  .card-container-server .card {
    margin: 9px;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
    width: 266px;
    height: 215px;
}

  .card-container .card .card-count-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 20px 0px;
  }
  .card-container-server .card .card-count-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 0px 0px;
  }
  .card-container .card .card-count {
    /* font-weight: bold; */
    font-size: 60px;
    width: 120px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    margin-right: -50px;
    padding-right: 25px;
    overflow: hidden;
    /* color: #ffffff; */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }
  .card-container-server .card .card-count {
    /* font-weight: bold; */
    font-size: 60px;
    width: 120px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    margin-right: -50px;
    padding-right: 25px;
    overflow: hidden;
    /* color: #ffffff; */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }
  .card-container .card .card-content {
    padding: 20px;
    padding-top: 0px;
    font-weight: 600;
  }
  .card-container-server .card .card-content {
    padding: 20px;
    padding-top: 0px;
    font-weight: 600;
    font-size: 15px;
  }
  .card-container .card .card-content > h2 {
    margin-top: 0px;
    text-align: center;
  }
  .card-container-server .card .card-content > h2 {
    margin-top: 0px;
    text-align: center;
  }
  .card-container .card .card-footer {
    padding: 20px;
    color: #ffffff;
  }
  .card-container-server .card .card-footer {
    padding: 20px;
    color: #ffffff;
  }
  .card-container .card:hover .card-count {
    /* width: 160px;
    height: 160px; */
    width: 127px;
    height: 112px;
  }
  .card-container-server .card:hover .card-count {
    /* width: 160px;
    height: 160px; */
    width: 127px;
    height: 112px;
  }
  @media (max-width: 767px) {
    .card-container {
      flex-wrap: wrap;
    }
  }

.text-center img {
  height: 105px;
}



.section-mic {
    /* padding-top: 80px; */
    padding-bottom: 0px;
    position: relative;
    /* background: #ffffff; */
}

  .content-page-mic {
    padding-inline: 125px;
    /* padding-top: 38px; */
    margin-inline: 26px;
    padding-bottom: 180px;
  }


.a1::before{
    content: "\f17a";
    font-size: 30px;
    
}

.b::before{
    content: "\f1c0";
    font-size: 30px;
}

.c::before{
    content: "\f6ff";
    font-size: 30px;
}

.d::before{
    content: "\f0a0";
    font-size: 30px;
}
.e::before{
    content: "\e4f0";
    font-size: 30px;
    
}
.f::before{
    content: "\f17a";
    font-size: 30px;
}
.g::before{
    content: "\f17a";
    font-size: 30px;
}
.h::before{
    content: "\f12d";
    font-size: 30px;
}


/******************************************************************************/


.box-decorative {
	pointer-events: none;
	position: absolute;
	top: 35px;
	left: 48%;
	transform: translateX(-50%);
	bottom: 0;
	width: 73.4vw;
}

.box-classic {
	padding: 0 15px 20px;
	background-color: #F6F8FB;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
	.box-classic {
		padding: 0 30px 30px;
	}
}

@media (min-width: 1200px) {
	.box-classic {
    /* padding: 1px 40px 37px; */
    margin-block: 20px;
  }
}

.iconn::before {
  content: "\f17a";
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-transform: none;
  font-size: 40px;
}

.bg-gray-100 .box-classic {background-color: #ffffff;}

.box-classic-icon {
	margin-top: -30px;
	position: relative;
	color: #ffffff;
	width: 70px;
	height: 70px;
	border-radius: 10em;
	background: linear-gradient(98.15deg, #5540BF 17.7%, #8E7AF5 81.94%);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.m-b{
  width: 14rem;
  padding: 9px;
  background-color: darkgreen;
}
.box-classic-icon::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

* + .box-classic-title {
	margin-top: 23px;
  height: 50px;
}

* + .box-classic-text {
	margin-top: 6px;
}

.box-modern {
	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.box-modern:not(.box-modern-soon):hover .box-modern-figure {
	transform: translate(0, -10px);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.box-modern-figure {
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
	border-radius: 6px;
	overflow: hidden;
}

.box-modern-figure img {
	transition: all 0.3s ease-in-out;
}

.box-modern-figure:hover img {
	opacity: .8;
}

* + .box-modern-title {
	margin-top: 15px;
}

@media (min-width: 1200px) {
	* + .box-modern-title {
		margin-top: 22px;
	}
}

.box-modern-soon .box-modern-figure p, .box-modern-soon .box-modern-figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.box-modern-soon .box-modern-figure p {
	font-weight: 600;
	letter-spacing: .05em;
	line-height: 1.01;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	text-align: center;
	background: linear-gradient(65.38deg, #5540BF -1.92%, #A293F0 99.19%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.box-modern-soon .box-modern-figure::before {
	content: '';
	width: 112px;
	height: 112px;
	border-radius: 10em;
	background-color: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.box-modern-soon .box-modern-figure img {
	background-color: #ffffff;
	opacity: .24;
}

.box-elements {
	display: flex;
	flex-wrap: wrap;
	border-radius: 20px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.box-elements {
		margin-right: 55px;
	}
}

* + .box-elements {
	margin-top: 40px;
}

.box-elements-item {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 137px;
	width: 50%;
	max-width: 50%;
	flex-basis: 50%;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

@media (max-width: 575.98px) {
	.box-elements-item:nth-of-type(n + 3) {
		border-top: 1px solid #DBDBDB;
	}
	.box-elements-item:nth-of-type(2n) {
		border-left: 1px solid #DBDBDB;
	}
}

@media (min-width: 576px) {
	.box-elements-item {
		width: 25%;
		max-width: 25%;
		flex-basis: 25%;
	}
	.box-elements-item:nth-of-type(n + 5) {
		border-top: 1px solid #DBDBDB;
	}
	.box-elements-item:nth-of-type(2n) {
		border-left: 1px solid #DBDBDB;
		border-right: 1px solid #DBDBDB;
	}
	.box-elements-item:nth-of-type(4n) {
		border-right: 0;
	}
}

.box-elements-item:hover {
	background-color: #F6F8FB;
}

.box-elements-item:hover * {
	color: #5540BF;
}

.box-elements-icon {
	transition: all 0.3s ease-in-out;
}

.box-elements-text {
	margin-top: 0;
	color: #3D3D3D;
}