
.home-center-service {
    top: 102px;
    /* display: table; */
    width: 100%;
    height: fit-content;
    background-color: #F7F7F7;
}

.bg-home-ser {
    background-color: #F7F7F7;
}

.bg-back {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.pad-ser {
    padding-top: 90px;
    padding-bottom: 33px;

}

.network-banner{
    text-align: center;
    position: relative;
    color: #fff;
    text-align: center;
    background: url(../img/network-security-banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
}

.network-banner::after {
    content: "";
    position: absolute;
    /* z-index: -1; */
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .6;
    background: #03030c6e;
}

