
.symantec-banner {
    background: url(/static/img/cyber-security-hero_v2.jpg) center center / cover scroll no-repeat;
    z-index: 0;
}

.section-symantec {
    padding-top: 69px;
    padding-bottom: 80px;
    position: relative;
}

.mt-sym {
    margin-top: 3rem!important;
    justify-content: center;
}

.contain-banner {
    margin-right: 0;
}

.sym-text {
    text-align: justify;
    padding-top: 148px;
    font-size: 25px;
    padding-left: 359px;
}

.top-title-symantec-3 {
    padding-top: 12px;
    color: rgb(0, 0, 0);
    width: 60%;
    text-align: justify;
}


.symantec-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.symantec-item img {
    padding-top: 70px;
}



.symantec-title{
    margin-top: 0;
    text-align: center;
    color: #53565a;
    font-family: hco gotham,sans-serif;
    font-weight: 400;
    margin-bottom: 25px!important;
    font-size: 30px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.symantec-title::after{
    content: "";
    border-top: 0.8px solid #ce0930;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.symantec-title::before{
    content: '';
    border-top: 0.8px solid #ce0930;
    margin: 0 20px 0 11px;
    flex: 1 0 20px;
}


.sym-pro-ban {
    position: relative;
    height: 400px;
    background: url(/static/img/symantec-detail.jpg) no-repeat 0px 82px;
    background-size: contain;
    padding-top: 164px;
    margin-bottom: 30px;;
}

.sym-pro-ban h1 {
    color: #FFF;
}

.sym-pro-ban p{
    color: #FFF;
    width: 50%;
    
}

.sym-pro-ban img{
    height: 359px;
    padding-top: 83px;
    display: none;
}

.mrg {
    margin-top: 3rem!important;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mrg .col-sm-3 {
    width: 23%;
}